{#<html>
<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<!--<script src="js/showmessages.js"></script>!-->
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
	<body>#}
	<div class="chatTabs">
        {% if mychat %}
            <div class="singleTab chat-tab active" data-tab="my">Мой чат</div>
        {% endif %}

        <div class="singleInboxTab">
			<span>Входящий чат</span>
            {% set counter = 1 %}
            {% for in_chat in income_chats %}
                <div class="numberOnTab chat-tab" data-tab="in{{ counter }}">{{ counter }}</div>
                {% set counter = counter + 1 %}
            {% endfor %}
		</div>
        {% for dialog in dialogs %}
            <div class="singleTab chat-tab" data-tab="d{{ dialog.getId() }}">
                <a href="#" class="closeDialogTab"></a>
                {% if dialog.user1==curUser %}
                    {{ dialog.user2.getNick() }}
                {% else %}
                    {{ dialog.user1.getNick() }}
                {% endif %}
            </div>
        {% endfor %}
	</div>
	<div class="mainWindow">
        {% if mychat %}
            <div class="chat-content" tab="my" data-chat-id="{{ mychat.getId() }}">
                <div class="chat" style="width: 597px;">
                    <div class="messageWrap" style="width: 578px;>
                        {% for message in mychat.messages %}
                            <div class="singleMessage">
                                <div class="chatUsername">{{ message.getUser().getNick() }}</div>
                                <div class="messageText">{{ message.getMsgText()|nl2br }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="usersInChat">
                    {% for member in mychat.members %}
                    <div class="singleUser" data-user="{{ member.getUser().getId() }}">
                        <div class="singleUsername">{{ member.getUser().getNick() }}</div>
                        <div class="kickUser"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% set counter = 1 %}
        {% for in_chat in income_chats %}
            <div class="chat-content" tab="in{{ counter }}" data-chat-id="{{ in_chat.getChat().getId() }}">
                <div class="chat">
                    <div class="messageWrap" >
                        {% for message in in_chat.messages %}
                            <div class="singleMessage">
                                <div class="chatUsername">{{ message.getUser().getNick() }}</div>
                                <div class="messageText">{{ message.getMsgText()|nl2br }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% set counter = counter + 1 %}
        {% endfor %}

        {% for dialog in dialogs %}
            <div class="chat-content" tab="d{{ dialog.getId() }}" data-dialog-id="{{ dialog.getId() }}" data-to-user="{% if dialog.user1==curUser %}{{ dialog.user2.getId() }}{% else %}{{ dialog.user1.getId() }}{% endif %}">
                <div class="chat">
                    <div class="messageWrap">
                        {% for message in dialog.messages %}
                            <div class="singleMessage{% if message.getUser()==curUser %} my-message{% endif %}">
                                <div class="chatUsername">{{ message.getUser().getNick() }}</div>
                                <div class="messageText">{{ message.getMsgText()|nl2br }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
	</div>
	<div class="typeText">
		<div class="enterArea">
			<textarea class="chat-input" data-user="{{ curUser.getId() }}" data-nick="{{ curUser.getNick() }}"></textarea>
			<div class="switch"></div>
			<input class="chat-nl-trigger" type="checkbox" />
		</div>
		<div class="finishConversation">
			<input type="button" value="закончить
общение" />
		</div>
	</div>
{#
	</body>
 </html>#}
