{#<html>
<head>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<!--<script src="js/showmessages.js"></script>!-->
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
	<body>#}
    <div id="chat-last-update" value="{{ chatlastupdate|date("Y-m-d H:i:s") }}"></div>
	<script>
		$(function(){
			$('.enterArea > textarea').autosize();
		});
	</script>
	<div class="chatTabs">
        <div class="singleTab chat-tab active" data-tab="my">{% trans %}Мой чат{% endtrans %}</div>
        {#{% if mychat %}
            {% if mychat.getIsActive() %}
                <div class="singleTab chat-tab active" data-tab="my">{% trans %}Мой чат{% endtrans %}</div>
            {% endif %}
        {% endif %}#}

        {% if income_chats %}
            <div class="singleInboxTab">
                <span>{% trans %}Входящий чат{% endtrans %}</span>
                {% set counter = 1 %}
                {% for in_chat in income_chats %}
                    <div class="numberOnTab chat-tab" data-tab="in{{ counter }}" title="{{ in_chat.getChat().getQuestion().getText() }}">{{ counter }}</div>
                    {% set counter = counter + 1 %}
                {% endfor %}
            </div>
        {% else %}
            <div class="singleInboxTab">
                <span>{% trans %}Входящий чат{% endtrans %}</span>
                <div class="numberOnTab" data-tab="in1">1</div>
                <div class="numberOnTab" data-tab="in2">2</div>
                <div class="numberOnTab" data-tab="in3">3</div>
            </div>
        {% endif %}

        {% for dialog in dialogs %}
            <div class="singleTab chat-tab" data-tab="d{{ dialog.getId() }}">
                <a href="#" title="{% trans %}закрыть диалог{% endtrans %}" class="closeDialogTab"></a>
                {% if dialog.user1==curUser %}
                    {{ dialog.user2.getNick() }}
                {% else %}
                    {{ dialog.user1.getNick() }}
                {% endif %}
            </div>
        {% endfor %}
	</div>
	<div class="mainWindow">
        {% if mychat %}
            <div class="chat-content" tab="my" data-chat-id="{{ mychat.getId() }}">
                <div class="chat resizeChat" style="width:auto;">
                    <div class="messageWrap" style="width: 578px;">
                        {% for message in mychat.messages %}
                            <div class="singleMessage{% if message.getUser()==curUser %} my-message{% endif %}">
                                <div class="chatUsername">{{ message.getUser().getNick() }}</div>
                                <div class="messageText">{{ message.getMsgText()|nl2br|raw }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="usersInChat resizeChat">
                    {% if mychat.members %}
                        {% for member in mychat.members %}
                        <div class="singleUser" data-user="{{ member.getUser().getId() }}">
                            <div class="singleUsername">{{ member.getUser().getNick() }}</div>
                            <div title="{% trans %}выгнать пользователя{% endtrans %}" class="kickUser"></div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% set counter = 1 %}
        {% for in_chat in income_chats %}
            <div class="chat-content" tab="in{{ counter }}" data-chat-id="{{ in_chat.getChat().getId() }}">
                <div class="chat resizeChat">
                    <div class="messageWrap" >
                        {% for message in in_chat.messages %}
                            <div class="singleMessage{% if message.getUser()==curUser %} my-message{% endif %}">
                                <div class="chatUsername">{{ message.getUser().getNick() }}</div>
                                <div class="messageText">{{ message.getMsgText()|nl2br|raw }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% set counter = counter + 1 %}
        {% endfor %}

        {% for dialog in dialogs %}
            <div class="chat-content" tab="d{{ dialog.getId() }}" data-dialog-id="{{ dialog.getId() }}" data-to-user="{% if dialog.user1==curUser %}{{ dialog.user2.getId() }}{% else %}{{ dialog.user1.getId() }}{% endif %}">
                <div class="chat resizeChat">
                    <div class="messageWrap">
                        {% for message in dialog.messages %}
                            <div class="singleMessage{% if message.getUser()==curUser %} my-message{% endif %}">
                                <div class="chatUsername">{{ message.getUser().getNick() }}</div>
                                <div class="messageText">{{ message.getMsgText()|nl2br|raw }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
	</div>
	<div class="typeText">
		<div class="enterArea">
			<textarea class="chat-input" data-user="{{ curUser.getId() }}" data-nick="{{ curUser.getNick() }}"></textarea>
            <a title="{% trans %}отправить сообщение{% endtrans %}" id="send-message" href=""></a>
			<div class="switch"></div>
			<input id="chat-nl-switch" type="checkbox" />
		</div>
		<div class="finishConversation{% if mychat %}{% if mychat.members|length<1 %} hidden{% endif %}{% endif %}">
			<input type="button" value="{% trans %}закончить{% endtrans %}
{% trans %}общение{% endtrans %}" />
		</div>
        <div class="leaveConversation" style="display:none;">
            <input type="button" value="{% trans %}выйти
из чата{% endtrans %}" />
        </div>
	</div>
{#
	</body>
 </html>#}
