{% extends '::base.html.twig' %}
{% block content %}
    <h2 class="categoryH2">Заметки / Вопросы</h2>
    <div style="max-height: 800px;overflow: auto;width: 733px;margin-left: -5px;">
    {% if questions %}
        <ul class="article-list">
            {% for item in questions %}
                <div class="singleQuestion" data-id="{{ item.getQuestion().getId() }}">
                    <div class="userName">{{ item.getQuestion().getUser().getNick() }}</div>
                    <div class="questionDate">{{ item.getQuestion().getDatetime|date('d.m.Y H:i') }}</div>
                    <div class="closeButton"></div>
                    <div style="clear: both;"></div>
                    <div class="questionText">
                        {{ item.getQuestion().getText() }}
                        <div class="socialIcons" style="width: 75px;">
                            <form class="answer">
                                <input class="answerButton" type="button" value="ответить" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="myAnswer {% if item.answers==null %}no-border{% endif %}">
                    {#{% if item.getPrivate()>0 %}#}
                    {% for answer in item.answers %}
                        <div class="singleAnswer" data-user="{{ answer.getUser().getId() }}">
                            <div class="userName">{{ answer.getUser().getNick() }}</div>
                            <div class="answerDate">{{ answer.getPubDate()|date("Y-m-d H:i:s") }}</div>
                            <div style="clear: both;"></div>
                            <div class="questionText">
                                {{ answer.getText() }}
                                <div class="socialIcons">
                                    <div class="spamButton" title="Пометить как спам"></div>
                                    <div class="likeButton" title="Мне нравится!"></div>
                                    <div class="arrowButton inviteUser" title="Отправить приглашение в чат"></div>
                                    <div class="letterButton sendMessage" title="Отправить сообщение"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {#{% endif %}#}
                </div>
                <form class="answerForm">
                    <textarea class="answerTextarea" ></textarea>
                    <div class="answerFormNavigation">
                        <input class="submitAnswerButton" type="submit" value="отправить" />
                        <input class="cancelButton" type="button" value="отменить" />
                    </div>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <div class="empty-notes">Нет избранных вопросов</div>
    {% endif %}
    </div>
{% endblock %}