{% extends '::base.html.twig' %}
{% block content %}
    <h2 class="categoryH2">Заметки / Вопросы</h2>
    <script type="text/javascript">
        $(document).ready(function(){
            //Удаление вопроса из заметок
            $('.singleQuestion .closeButton').click(function(){
                var question_id = $(this).closest('.singleQuestion').data('id');
                $.ajax({
                    'url': '{{ path("deleteNotedQuestion") }}',
                    'type':'post',
                    'data': {
                        question_id: question_id
                    }
                });
                $(this).closest('.singleQuestion').remove();
            });
        });
    </script>
    <div style="max-height: 800px;overflow: auto;width: 733px;margin-left: -5px;">
    {% if questions %}
        <ul class="article-list">
            {% for item in questions %}
                <div class="singleQuestion" data-id="{{ item.getQuestion().getId() }}">
                    <div class="userName">{{ item.getQuestion().getUser().getNick() }}</div>
                    <div class="questionDate">{{ item.getQuestion().getDatetime|date('d.m.Y H:i') }}</div>
                    <div class="closeButton"></div>
                    <div style="clear: both;"></div>
                    <div class="questionText">
                        {{ item.getQuestion().getText()|raw }}
                        <div class="socialIcons" style="width: 75px;">
                            <form class="answer">
                                {% if item.iAnswered or not curUser %}
                                    {% if item.getQuestion().getPrivate()<1 %}
                                        <input class="answerButton" type="button" {% if not item.getQuestion().getAnswers()|length  %}disabled="disabled"{% endif %} value="{{ item.getQuestion().getAnswers()|length }} {{ 'отв'|trans }}" data-alter-name="{% trans %}свернуть{% endtrans %}" />
                                    {% else %}
                                        <input class="answerButton" type="button" value="{% trans %}закрытый{% endtrans %}" data-alter-name="{% trans %}свернуть{% endtrans %}" />
                                    {% endif %}
                                {% else %}
                                    <input class="answerButton" type="button" value="{% trans %}ответить{% endtrans %}" data-alter-name="{% trans %}свернуть{% endtrans %}" />
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                {% if item.iAnswered or not curUser %}
                    <div class="myAnswer {% if item.getQuestion().getAnswers()|length == 0 %}no-border{% endif %}">
                        {% if item.getQuestion().getPrivate()<1 %}
                            {% for answer in item.getQuestion().getAnswers() %}
                                {% if curUser not in answer.getSpams() %}
                                    <div class="singleAnswer likable-item" data-user="{{ answer.getUser().getId() }}" data-id="{{ answer.getId() }}">
                                        <div class="userName">{{ answer.getUser().getNick() }}</div>
                                        <div class="answerDate">{{ answer.getPubDate()|date('d.m.Y H:i') }}</div>
                                        <div style="clear: both;"></div>
                                        <div class="questionText">
                                            {{ answer.getText()|raw }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <form class="answerForm"></form>
                {% else %}
                    <div class="myAnswer no-border">
                    </div>
                    <form class="answerForm">
                        <textarea class="answerTextarea" ></textarea>
                        <div class="answerFormNavigation">
                            <input class="cancelButton" type="button" value="{% trans %}отмена{% endtrans %}" />
                            <input class="submitAnswerButton" type="submit" value="{% trans %}отправить{% endtrans %}" />
                        </div>
                    </form>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <div class="empty-notes">{% trans %}Нет избранных вопросов{% endtrans %}</div>
    {% endif %}
    </div>
{% endblock %}