{% set _rush =  app.request.requestUri=='/rush' ? true : false %}
{% extends '::base.html.twig' %}

	{% block content %}
        <script type="text/javascript">
            //Спам
			$(document).ready(function(){
				$('.spamButton').click(function(){
					$(this).addClass("spamButtonActive");
					var question_id = $(this).closest('.singleQuestion').data('id');
					var answer_id = $(this).closest('.singleAnswer').data('id');
					var that = $(this);
					$.ajax({'url': '{{ path("spamItem") }}', 'type':'post', 'data':{
                            question_id: question_id,
                            answer_id: answer_id
                        },
						'fail': function(){
							that.removeClass("spamButtonActive");
						},
						'success': function() {
                            if (question_id){
                                that.closest('.singleQuestion').replaceWith($("<span class='spamMessage'>{% trans %}Вопрос был отмечен как спам{% endtrans %}</span>"));
                            } else {
                                that.closest('.singleAnswer').replaceWith($("<span class='spamMessage'>{% trans %}Ответ был отмечен как спам{% endtrans %}</span>"));
                            }
							$('.spamMessage').delay('5000').fadeOut('1000');
						}
					});
				});
				
				//Лайки
				$('.likeButton').click(function(){
					$(this).addClass("likeButtonActive");
					var question_id = $(this).closest('.singleQuestion').data('id');
					var answer_id = $(this).closest('.singleAnswer').data('id');
					var that = $(this);
					$.ajax({
                        'url': '{{ path("likeItem") }}',
                        'type':'post',
                        'data': {
                            question_id: question_id,
                            answer_id: answer_id
                        },
						'fail': function(){
							that.removeClass("likeButtonActive");
						}
					});
				});			
			});
        </script>
		<div style="max-height: 820px;overflow: auto;overflow-x: hidden;overflow-y: auto;width: 728px;">
        {% for category in categorized_questions %}
            <h2 class="categoryTitle">{{ category.getName() }}</h2>
            <div id="showQuestion">
                {% for item in category.questions %}
                    <div class="singleQuestion likable-item" data-id="{{ item.getId() }}">
                        <div class="userName">{{ item.user }}</div>
                        <div class="questionDate">{{ item.datetime|date('d.m.Y H:i') }}</div>
                        {% if item.user==curUser %}
                            <div class="closeButton"></div>
                        {% endif %}
                        <div style="clear: both;"></div>
                        <div class="questionText">
                        {{ item.text }}
                            <div class="socialIcons">
                                {% if curUser %}
                                    {% if item.getUser()!=curUser %}
                                        <div title="{% trans %}отметить как спам{% endtrans %}" class="spamButton {% if curUser in item.spams %}spamButtonActive{% endif %}"></div>
                                        <div title="{% trans %}мне нравится{% endtrans %}" class="likeButton {% if curUser in item.likes %}likeButtonActive{% endif %}"></div>
                                        <div title="{% trans %}добавить в заметки{% endtrans %}" class="repostButton"></div>
                                    {% endif %}
                                {% endif %}
                                {#{% if curUser or _rush %}#}
                                    <form class="answer">
                                        {% if item.iAnswered or not curUser or item.getUser()==curUser %}
                                            {% if item.getPrivate()<1 %}
                                                <input class="answerButton" type="button" {% if not item.answers|length  %}disabled="disabled"{% endif %} value="{{ item.answers|length ~ ' отв.' }}" />
                                            {% else %}
                                                <input class="answerButton" type="button" value="{% trans %}закрытый{% endtrans %}" />
                                            {% endif %}
                                        {% else %}
                                            <input class="answerButton" type="button" value="{% trans %}ответить{% endtrans %}" />
                                        {% endif %}
                                    </form>
                                {#{% endif %}#}
                            </div>
                        </div>
                    </div>
                    {#{% if curUser or _rush %}#}
                        {% if category.getId()==null or item.iAnswered or not curUser or item.getUser()==curUser %}
                            <div class="myAnswer {% if item.answers==null %}no-border{% endif %}">
                                {% if item.getPrivate()<1 %}
                                    {% for answer in item.answers %}
                                        <div class="singleAnswer likable-item" data-user="{{ answer.getUser().getId() }}" data-id="{{ answer.getId() }}">
                                            <div class="userName">{{ answer.getUser().getNick() }}</div>
                                            <div class="answerDate">{{ answer.getPubDate()|date('d.m.Y H:i') }}</div>
                                            <div style="clear: both;"></div>
                                            <div class="questionText">
                                                {{ answer.getText() }}
                                                {% if item.getUser()==curUser or answer.getUser()!=curUser %}
                                                    <div class="socialIcons">
                                                        {% if curUser %}
                                                            <div class="spamButton {% if curUser in answer.getSpams() %}spamButtonActive{% endif %}" title="{% trans %}отметить как спам{% endtrans %}"></div>
                                                            <div class="likeButton  {% if curUser in answer.getLikes() %}likeButtonActive{% endif %}" title="{% trans %}мне нравится{% endtrans %}"></div>
                                                            <div class="arrowButton inviteUser" title="{% trans %}пригласить в чат{% endtrans %}"></div>
                                                            <div class="letterButton sendMessage" title="{% trans %}отправить личное сообщение{% endtrans %}"></div>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <form class="answerForm"></form>
                        {% else %}
                            <div class="myAnswer no-border">
                            </div>
                            <form class="answerForm">
                                <textarea class="answerTextarea" ></textarea>
                                <div class="answerFormNavigation">
                                    <input class="cancelButton" type="button" value="{% trans %}отмена{% endtrans %}" />
                                    <input class="submitAnswerButton" type="submit" value="{% trans %}отправить{% endtrans %}" />
                                </div>
                            </form>
                        {% endif %}
                    {#{% endif %}#}
                {% endfor %}
            </div>
        {% endfor %}
		{#{% else %}#}
		{#<p style="margin: 15px;">{% trans %}Недоступно незарегистрированным пользователям{% endtrans %}</p>#}
		</div>
	{% endblock %}