{% extends '::base.html.twig' %}

	{% block navigation %}		
	<div id="nav">
		<div class="orderQuestions"><a href="{{ path('index') }}">{% trans %}Главная{% endtrans %}</a></div>
		<div class="categoryQuestions"><a style="color:#7A4216" href="{{ path('category') }}">по категориям</a></div>
		<div class="expressQuestions"><a href="{{ path('rush') }}">срочные</a></div>
	</div>
	{% endblock %}

	{% block content %}
        <script type="text/javascript">
            //Спам
			$(document).ready(function(){
				$('.spamButton').click(function(){
					var question_id = $(this).closest('.singleQuestion').attr('data-id');
					var that = $(this);
					$.ajax({'url': '{{ path("spamItem") }}', 'type':'post', 'data': 'question_id='+question_id,
						'success': function(){
							alert('Вопрос помечен как спам!');
							that.addClass("spamButtonActive");
						}
					});
				});
				
				//Лайки
				$('.likeButton').click(function(){
					var question_id = $(this).closest('.singleQuestion').attr('data-id');
					var that = $(this);
					$.ajax({'url': '{{ path("likeItem") }}', 'type':'post', 'data': 'question_id='+question_id,
						'success': function(){
							that.addClass("likeButtonActive");
						}
					});
				});			
			});
        </script>
        {% for category in categorized_questions %}
            <h2 class="categoryTitle">{{ category.getName() }}</h2>
            <div id="showQuestion">
                {% for item in category.questions %}
                    <div class="singleQuestion" data-id="{{ item.getId() }}">
                        <div class="userName">{{ item.user }}</div>
                        <div class="questionDate">{{ item.datetime|date('d.m.Y H:i') }}</div>
                        <div class="closeButton"></div>
                        <div style="clear: both;"></div>
                        <div class="questionText">
                        {{ item.text }}
                            <div class="socialIcons">
                                <div class="spamButton"></div>
                                <div class="likeButton"></div>
                                <div class="repostButton"></div>
                                <form class="answer">
                                    <input class="answerButton" type="button" value="ответить" />
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if category.getId()==null %}
                        <div class="myAnswer {% if item.answers==null %}no-border{% endif %}">
                            {#{% if item.getPrivate()>0 %}#}
                                {% for answer in item.answers %}
                                    <div class="singleAnswer" data-user="{{ answer.getUser().getId() }}">
                                        <div class="userName">{{ answer.getUser().getNick() }}</div>
                                        <div class="answerDate">{{ answer.getPubDate()|date("Y-m-d H:i:s") }}</div>
                                        <div style="clear: both;"></div>
                                        <div class="questionText">
                                            {{ answer.getText() }}
                                            <div class="socialIcons">
                                                <div class="spamButton" title="Пометить как спам"></div>
                                                <div class="likeButton" title="Мне нравится!"></div>
                                                <div class="arrowButton inviteUser" title="Отправить приглашение в чат"></div>
                                                <div class="letterButton sendMessage" title="Отправить сообщение"></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {#{% endif %}#}
                        </div>
                    {% else %}
                        <form class="answerForm">
                            <textarea class="answerTextarea" ></textarea>
                            <div class="answerFormNavigation">
                                <input class="submitAnswerButton" type="submit" value="отправить" />
                                <input class="cancelButton" type="button" value="отменить" />
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
	{% endblock %}