{% extends '::base.html.twig' %}
	
	{% block navigation %}		
	<div id="nav">
		<div class="orderQuestions"><a href="{{ path('index') }}">{% trans %}Главная{% endtrans %}</a></div>
		<div class="categoryQuestions"><a style="color:#7A4216" href="{{ path('category') }}">по категориям</a></div>
		<div class="expressQuestions"><a href="{{ path('rush') }}">срочные</a></div>
	</div>
	{% endblock %}

	{% block content %}
	<script type="text/javascript">
	$(document).ready(function() {
	
		var answerFrom = $('.answerForm');
		$('.answerButton').click(function() {
			$(this).closest('.singleQuestion').nextAll('.answerForm').first().slideDown(500);
			$(this).closest('.singleQuestion').nextAll('.myAnswer').first().slideDown(500);
		});
		
//		var answerFormNavigation = $('.answerFormNavigation');
		$('.cancelButton').click(function() {
			$(this).closest('.answerForm').slideUp(500);
			$(this).closest('.answerForm').prevAll('.myAnswer').first().slideUp(500);
		});
        $(".submitAnswerButton").live('click', function(){
            var answerForm = $(this).closest('.answerForm');
            $.ajax({
                url: '/ajax/postAnswer',
                type: 'post',
                data: {
                    id: answerForm.prevAll(".singleQuestion").data('id'),
                    text: answerForm.find('.answerTextarea').val()
                },
                success: function(response){
                    answerForm.prevAll('.myAnswer').first().append(response);
                }
            });
            answerForm.find('.answerTextarea').val('');
            return false;
        });
	});
	</script>
		<h2 class="categoryH2">Category name</h2>
		<div id="showQuestion">
			{% for item in questions %}
				<div class="singleQuestion" data-id="{{ item.getId() }}">
					<div class="userName">{{ item.user }}</div>
					<div class="questionDate">{{ item.datetime|date('d.m.Y H:i') }}</div>
					<div class="closeButton"></div>
					<div style="clear: both;"></div>
					<div class="questionText">
					{{ item.text }}
						<div class="socialIcons">
							<div class="spamButton"></div>
							<div class="likeButton"></div>
							<div class="repostButton"></div>
							<form class="answer">
								<input class="answerButton" type="button" value="ответить" />
							</form>
						</div>
					</div>
				</div>
                <div class="myAnswer">
                    {% for answer in item.answers %}
                        <div class="singleAnswer" data-user="{{ answer.getUser().getId() }}">
                            <div class="userName">{{ answer.getUser().getNick() }}</div>
                            <div class="answerDate">{{ answer.getPubDate()|date("Y-m-d H:i:s") }}</div>
                            <div style="clear: both;"></div>
                            <div class="questionText">
                                {{ answer.getText() }}
                                <div class="socialIcons">
                                    <div class="spamButton"></div>
                                    <div class="likeButton"></div>
                                    <div class="arrowButton inviteUser"></div>
                                    <div class="letterButton sendMessage"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
				<form class="answerForm">
					<textarea class="answerTextarea" ></textarea>
					<div class="answerFormNavigation">
						<input class="submitAnswerButton" type="submit" value="отправить" />
						<input class="cancelButton" type="button" value="отменить" />
					</div>
				</form>
			{% endfor %}
		</div>
	{% endblock %}