{% extends '::base.html.twig' %}
	
	{% block navigation %}		
	<div id="nav">
		<div class="orderQuestions"><a href="{{ path('index') }}">{% trans %}Главная{% endtrans %}</a></div>
		<div class="categoryQuestions"><a style="color:#7A4216" href="{{ path('category') }}">по категориям</a></div>
		<div class="expressQuestions"><a href="{{ path('rush') }}">срочные</a></div>
	</div>
	{% endblock %}

	{% block content %}
	<script type="text/javascript">
	$(document).ready(function() {
	
		var answerFrom = $('.answerForm');
		answerFrom.hide();
		$('.answerButton').click(function() {
			$(this).closest('.singleQuestion').next('.answerForm').slideDown(500);
		});
		
		var answerFormNavigation = $('.answerFormNavigation');
		$('.cancelButton').click(function() {
			$(this).closest('.answerForm').slideUp(500);
		});
	});
	</script>
		<h2 class="categoryH2">Category name</h2>
		<div id="showQuestion">
			{% for item in questions %}
				<div class="singleQuestion">
					<div class="userName">{{ item.user }}</div>
					<div class="questionDate">{{ item.datetime|date('d.m.Y H:i') }}</div>
					<div class="closeButton"></div>
					<div style="clear: both;"></div>
					<div class="questionText">
					{{ item.text }}
						<div class="socialIcons">
							<div class="spamButton"></div>
							<div class="likeButton"></div>
							<div class="repostButton"></div>
							<form class="answer">
								<input class="answerButton" type="button" value="ответить" />
							</form>
						</div>
					</div>
				</div>
				<form class="answerForm">
					<textarea class="answerTextarea" ></textarea>
					<div class="answerFormNavigation">
						<input type="submit" value="отправить" />
						<input class="cancelButton" type="button" value="отменить" />
					</div>
				</form>
			{% endfor %}
		</div>
	{% endblock %}