{% extends '::base.html.twig' %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#question_country').change(function () {
                if ($(this).val()) {
                    $.ajax({
                        type:"POST",
                        data:"country_id=" + $(this).val(),
                        url:"{{ path('getStates') }}",
                        success:function (data) {
                            $('#question_state option:gt(0)').remove();
                            $('#question_state').append(data);
                            document.getElementById('question_state').disabled = false;
                        }
                    });
                } else {
                    $('#question_state option:gt(0)').remove();
                    document.getElementById('question_state').disabled = true;
                    $('#question_city option:gt(0)').remove();
                    document.getElementById('question_city').disabled = true;
                }
            });
            $('#question_state').change(function () {
                if ($(this).val()) {
                    $.ajax({
                        type:"POST",
                        data:"state_id=" + $(this).val(),
                        url:"{{ path('getCities') }}",
                        success:function (data) {
                            $('#question_city option:gt(0)').remove();
                            $('#question_city').append(data);
                            document.getElementById('question_city').disabled = false;
                        }
                    });
                }
                else {
                    $('#question_city option:gt(0)').remove();
                    document.getElementById('question_city').disabled = true;
                }
            });
            $('[id="categoryScripture"]').after($('#question_category_1, [for="question_category_1"]'));


            //Скрытия блоков с информацией о вопросе
            var questionHidddenDivs = $('#questionsType').add('.writeQuestionDiv');

            // Появление блока с типом вопросов
            $('#question_text').focus(function () {
                $('#questionsType').slideDown();
                $('.greeting').fadeOut(500);
            });

            // Появление блока с информацией о вопросе
            $('#questionsType > input:first').click(function () {
                $('.writeQuestionDiv').slideDown();
                $('#question_category').show();
                $('.rushWrapper').css({
                    'outline':'none',
                    'border-bottom':'none'
                });
                $('.writeQuestionDiv').css({
                    'border-bottom':'2px solid #CC2A03',
                    'border-left':'2px solid #CC2A03'
                });
                document.getElementById('question_category_1').checked = false;
            });

            $('#questionsType > input:last').click(function () {
                document.getElementById('categoryRadioButton').checked = false;
                $('#question_category').hide();
                $('.writeQuestionDiv').slideDown();
                $('.rushWrapper').css({
                    'outline':'2px solid #CC2A03',
                    'border-bottom':'2px solid #CC2A03'
                });
                $('.writeQuestionDiv').css({
                    'border-bottom':'none',
                    'border-left':'none'
                });
            });

            //Уплывание формы и сброс полей
            $('input[name=cancelInformation]').click(function () {
                $('.writeQuestionDiv').slideUp();
                $('#questionsType').slideUp();
                $('.greeting').fadeIn(500);
                $('.questionCost').hide();
                document.forms.writeQuestion.reset();
            });

            //Уплывание формы по клику вне области
            var questionSubs = $('#questionsType').add('.writeQuestionDiv');
            if (questionSubs.length != 0) {
                $('body').click(
                        function () {
                            questionSubs.slideUp();
                            document.forms.writeQuestion.reset();
                            $('.greeting').fadeIn(500);
                            questionPrivateCost.hide();
                            $('.questionCost').hide();
                        }
                );
                $('.writeQuestion').click(function (e) {
                    e.stopPropagation();
                });
            }

            //Развертывание ответов
            var myAnswer = $('.myAnswer');
            myAnswer.hide();
            $('.answerButtonItalic').toggle(function () {
                $(this).closest('.singleQuestion').next('.myAnswer').slideDown();
//                $(this).val('свернуть');
            }, function () {
                $(this).closest('.singleQuestion').next('.myAnswer').slideUp();
//                $(this).val('развернуть');
            }).click(function(){
                /*$(".answerButtonItalic.expanded").not(this).each(function(){
                    var alter_name = $(this).data('alter-name');
                    $(this).data('alter-name', $(this).val()).val(alter_name).toggleClass('expanded');
                });*/
                var alter_name = $(this).data('alter-name');
                $(this).data('alter-name', $(this).val()).val(alter_name).toggleClass('expanded');
            });

            $(".deleteMyQuestion").live('click', function(){
                if (confirm('Удалить вопрос? (Стоимость 5 кредитов)')){
                    var cur_credits = $("#current-credits");
                    cur_credits.text(cur_credits.text()-5);
                    var question = $(this).closest('.singleQuestion');
                    $.ajax({
                        url: "/ajax/deleteMyQuestion",
                        type: "POST",
                        data: {
                            question: question.data('id')
                        },
                        success:function () {}
                    });
                    question.next('.myAnswer').remove();
                    question.remove();
                }
            });

            $("body:not(.index-page) .singleQuestion .closeButton, .closeMyQuestion").live('click', function(){
                if (confirm('Закрыть вопрос?')){
                    var question = $(this).closest('.singleQuestion');
                    $.ajax({
                        url: "/ajax/closeMyQuestion",
                        type: "POST",
                        data: {
                            question: question.data('id')
                        },
                        success:function () {}
                    });
                    question.find('.closeMyQuestion').remove();
//                    question.remove();
                }
            });

            $("body.index-page .singleQuestion .closeButton").live('click', function(){
                var question = $(this).closest('.singleQuestion');
                if ($("body").is('auth')){
                    $.ajax({
                        url: "/ajax/hideMyQuestion",
                        type: "POST",
                        data: {
                            question: question.data('id')
                        },
                        success:function () {}
                    });
                } else {
                    /*$.ajax({
                        url: "/ajax/closeMyQuestion",
                        type: "POST",
                        data: {
                            question: question.data('id')
                        },
                        success:function () {}
                    });*/
                    $.ajax({
                        url: "/ajax/hideMyQuestion",
                        type: "POST",
                        data: {
                            question: question.data('id')
                        },
                        success:function () {}
                    });
                }
                question.next('.myAnswer').remove();
                question.remove();

            });

            //Расположение элементов страницы
            $('#questionsType > input:last').css({
                'margin-left':'137px'
            });
            $('#question_category > input').css({
                'margin-top':'5px'
            });
            $('#question_category > label').css({
                'margin-top':'4px'
            });
            $('#question_category_2').css({
                'margin-top':'2px'
            });
            $('#question_category_2 + label').css({
                'margin-top':'0px'
            });
            $('#question_category_15').css({
                'margin-bottom':'8px'
            });
            var questionPrivateCost = $('p.questionPrivateCost');
            questionPrivateCost.hide();		
			
			$('#question_category > label').click(function() {
			    $("#question_category > label").removeClass('category-active');
                $(this).addClass('category-active');				
			});

            //Динамическое изменение текстовой области
            $('#question_text').autosize();

            //Стоимость приватного вопроса
            $('#question_private').click(function () {
                if ($(this).attr('checked')) {
                    questionPrivateCost.show()
                }
                else {
                    questionPrivateCost.hide()
                }
            });
			{% if curUser %}
			{% else %}
				$('#categoryRadioButton').hide();
				$('#categoryRadioButton + label').hide();
				$('#question_category_1').css({
					'margin-left':'281px'
				});
			{% endif %}

            $('#question_boundary').change(function () {
                var check = $('#question_boundary').val();
                if (check >= 50) {
                    $.ajax({
                        url: '/ajax/getBoundaryPrice',
                        data:{
                            boundary: check
                        },
                        success: function(response){
                            $('#boundary-cost').text(response);
                        }
                    });
                    $('#boundary-cost').text('...');
                    $('.questionCost').show();
                }
                else {
                    $('.questionCost').hide();
                }
            });

            //Спам
            $('.spamButton').click(function(){
                $(this).addClass("spamButtonActive");
                var question_id = $(this).closest('.singleQuestion').data('id');
                var answer_id = $(this).closest('.singleAnswer').data('id');
                var that = $(this);
                $.ajax({'url': '{{ path("spamItem") }}', 'type':'post', 'data':{
                    question_id: question_id,
                    answer_id: answer_id
                },
                    'fail': function(){
                        that.removeClass("spamButtonActive");
                    },
                    'success': function() {
                        if (question_id){
                            that.closest('.singleQuestion').replaceWith($("<span class='spamMessage'>{% trans %}Вопрос был отмечен как спам{% endtrans %}</span>"));
                        } else {
                            that.closest('.singleAnswer').replaceWith($("<span class='spamMessage'>{% trans %}Ответ был отмечен как спам{% endtrans %}</span>"));
                        }
                        $('.spamMessage').delay('5000').fadeOut('1000');
                    }
                });
            });

            //Лайки
            $('.likeButton').click(function(){
                $(this).addClass("likeButtonActive");
                var question_id = $(this).closest('.singleQuestion').data('id');
                var answer_id = $(this).closest('.singleAnswer').data('id');
                var that = $(this);
                $.ajax({
                    'url': '{{ path("likeItem") }}',
                    'type':'post',
                    'data': {
                        question_id: question_id,
                        answer_id: answer_id
                    },
                    'fail': function(){
                        that.removeClass("likeButtonActive");
                    }
                });
            });

        });
    </script>
    {% if form %}
        <form name="writeQuestion" class="writeQuestion" action="{{ path('index') }}"
              method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="questionForm">
                {{ form_errors(form.text) }}
                {{ form_widget(form.text) }}
            </div>
            <div id="questionsType">
                <input id="categoryRadioButton" class="radioButton" name="Radio" value="Радио кнопка" type="radio">
                <label for="categoryRadioButton" id="categoryScripture">{% trans %}по категориям{% endtrans %}</label>

                <div class="privateButton">
                    {{ form_label(form.private) }}
                    {{ form_errors(form.private) }}
                    {{ form_widget(form.private) }}
                    <p class="questionPrivateCost">{% trans %}стоимость 5 кредитов{% endtrans %}</p>
                </div>
            </div>
            <div class="writeQuestionDiv">
                <div class="category">
                    {{ form_errors(form.category) }}
                    {{ form_widget(form.category) }}
                </div>
                <div class="rushWrapper">
                    <div class="chosePlace">
                        {{ form_label(form.country) }}
                        {{ form_errors(form.country) }}
                        {{ form_widget(form.country) }}

                        {{ form_label(form.state) }}
                        {{ form_errors(form.state) }}
                        {{ form_widget(form.state) }}

                        {{ form_label(form.city) }}
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city) }}
                    </div>
                    <div class="additionalInformation">
                        {{ form_label(form.boundary) }}
                        {{ form_errors(form.boundary) }}
                        {{ form_widget(form.boundary) }}
                    </div>
                    <p class="questionCost">Стоимость <span id="boundary-cost">5</span> кредитов</p>
                    <input name="cancelInformation" class="submitButton" type="button" value="{% trans %}отмена{% endtrans %}"/>
                    <input class="submitButton" type="submit" value="{% trans %}отправить{% endtrans %}"/>
                </div>
            </div>

            {{ form_rest(form) }}
        </form>


        {% if curUser %}
        {% else %}
            {% if not userQuestions|length %}
                <div class="greeting">
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;{% trans %}Этот ресурс создан для быстрого поиска людей, обладающих нужными Вам знаниями. Здесь Вы можете найти интересных собеседников и обсуждать интересующие Вас вопросы. ADITUS сделает Вашу жизнь проще и сэкономит много времени{% endtrans %} </p>
                    <p style="margin-top: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;{% trans %}На ADITUS Вы можете задать свой вопрос любому пользователю или группе специалистов из области вашего вопроса  в режиме онлайн и, оценив полученные ответы, выбрать подходящего собеседника для приватной беседы,  либо продолжить обсуждение в группе.  Это безусловно повысит эффективность использования интернета и сэкономит самый драгоценный ресурс – время.{% endtrans %}</p>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <h2 class="categoryTitle">Мои вопросы</h2>
    {% endif %}

    {% if userQuestions|length > 0 %}
        {% for question in userQuestions %}
            <div class="singleQuestion" data-id="{{ question.getId() }}">
                <div style="border: 1px solid #fff;" class="userName"></div>
                <div class="questionDate">{{ question.datetime|date('d.m.Y H:i') }}</div>
                <div class="closeButton" title="{% trans %}удалить из списка{% endtrans %}"></div>
                <div style="clear: both;"></div>
                <div class="questionText">
                    {{ question.text }}
                    <div class="actionButton">
                        <form class="answer">
                            {% if not question.isClosed() %}
                                <input class="closeMyQuestion" type="button" value="{% trans %}закрыть{% endtrans %}"/>
                            {% endif %}
                            {% if curUser %}
                                <input class="deleteMyQuestion" type="button" value="{% trans %}удалить{% endtrans %}"/>
                            {% endif %}
                            <input class="answerButtonItalic" type="button" value="{{ question.getAnswers()|length }} отв." data-alter-name="{% trans %}свернуть{% endtrans %}"/>
                        </form>
                    </div>
                </div>
            </div>
            <div class="myAnswer {% if question.answers|length == 0 %}no-border{% endif %}">
                {% for answer in question.answers %}
                    <div class="singleAnswer" data-user="{{ answer.getUser().getId() }}" data-id="{{ answer.getId() }}">
                        <div class="userName">{{ answer.getUser().getNick() }}</div>
                        <div class="answerDate">{{ answer.getPubDate()|date('d.m.Y H:i') }}</div>
                        <div style="clear: both;"></div>
                        <div class="questionText">
                            {{ answer.getText() }}
                            <div class="socialIcons">
                                <div class="spamButton {% if curUser in answer.getSpams() %}spamButtonActive{% endif %}" title="Пометить как спам"></div>
                                <div class="likeButton {% if curUser in answer.getLikes() %}likeButtonActive{% endif %}" title="Мне нравится!"></div>
                                <div class="arrowButton inviteUser" title="Отправить приглашение в чат"></div>
                                <div class="letterButton sendMessage" title="Отправить сообщение"></div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
    {% if show_success_msg %}
        <div class="successful-reg">
            <p>На Ваш email отправлено письмо, <br /> прочтите его для завершения регистрации</p>
            <a href="/" class="close-confirmation">OK</a>
        </div>
    {% endif %}
{% endblock %}