{% extends '::base.html.twig' %}
	{% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        $('#question_country').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "country_id=" + $(this).val(),
                    url: "{{ path('getStates') }}",
                    success: function(data){
                        $('#question_state option:gt(0)').remove();
                        $('#question_state').append(data);
						document.getElementById('question_state').disabled=false;
                    }
                });
            } else {
                $('#question_state option:gt(0)').remove();
				document.getElementById('question_state').disabled=true;
				$('#question_city option:gt(0)').remove();
				document.getElementById('question_city').disabled=true;				
			}
        });
        $('#question_state').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "state_id=" + $(this).val(),
                    url: "{{ path('getCities') }}",
                    success: function(data){
                        $('#question_city option:gt(0)').remove();
                        $('#question_city').append(data);
						document.getElementById('question_city').disabled=false;
                    }
                });
            }
			else {
				$('#question_city option:gt(0)').remove();
				document.getElementById('question_city').disabled=true;					
			}
        });
		$('[id="categoryScripture"]').after($('#question_category_1, [for="question_category_1"]'));
		
	//Resable textarea on Index page
	$(function() {
	var txt = $('#question_text'),
	hiddenDiv = $(document.createElement('div')),
	content = null;

	txt.addClass('noscroll');
	hiddenDiv.addClass('hiddenWriteQuestion');

	$('body').append(hiddenDiv);

	txt.bind('keyup', function() {

	    content = txt.val();
	    content = content.replace(/\n/g, '<br>');
	    hiddenDiv.html(content);

	    txt.css('height', hiddenDiv.height());

	});
	
	
	//Скрытия блоков с информацией о вопросе
	$('#questionsType').hide();
	$('.writeQuestionDiv').hide();
	//$('#question_text').text('Введите, пожалуйста, Ваш вопрос');
	
	// Появление блока с типом вопросов
	$('#question_text').focus(function() {
		$('#questionsType').slideDown();
		//$('#question_text').text('');
	});

	// Появление блока с информацией о вопросе
	$('#questionsType > input:first').click(function() {
		$('.writeQuestionDiv').slideDown();
		$('#question_category').show(500);
		$('.rushWrapper').css({
		'outline':'none',
		'border-bottom':'none'
		});
		$('.writeQuestionDiv').css({
		'border-bottom': '2px solid #A33A1C',
		'border-left': '2px solid #A33A1C'
		});
		document.getElementById('question_category_1').checked = false;
	});

	$('#questionsType > input:last').click(function() {	
		document.getElementById('categoryRadioButton').checked = false;
		$('#question_category').hide();
		$('.writeQuestionDiv').slideDown();
		$('.rushWrapper').css({
		'outline':'2px solid #A33A1C',
		'border-bottom':'2px solid #A33A1C'
		});
		$('.writeQuestionDiv').css({
		'border-bottom': 'none',
		'border-left': 'none'
		});
	});	
	
	// Уплывание формы и сброс полей
	$('input[name=cancelInformation]').click(function() {
		$('.writeQuestionDiv').slideUp();		
		$('#questionsType').slideUp();
		document.forms.writeQuestion.reset()
	});
	
	});
	
	});
	
</script>

<form name="writeQuestion" class="writeQuestion" action="{{ path('index') }}" method="post" {{ form_enctype(form) }}>
	{{ form_errors(form) }}
	
	<div class="questionForm">
		{{ form_errors(form.text) }}
		{{ form_widget(form.text) }}
	</div>
		<div id="questionsType">
				<input id="categoryRadioButton" class="radioButton" name="Radio" value="Радио кнопка" type="radio"><span id="categoryScripture">По категориям<span>
			<div class="privateButton">
				{{ form_label(form.private) }}
				{{ form_errors(form.private) }}
				{{ form_widget(form.private) }}
			</div>
		</div>
	<div class="writeQuestionDiv">
		<div class="category">
			{{ form_errors(form.category) }}
			{{ form_widget(form.category) }}
		</div>
		<div class="rushWrapper">
			<div class="chosePlace">
				{{ form_label(form.country) }}	
				{{ form_errors(form.country) }}
				{{ form_widget(form.country) }}

				{{ form_label(form.state) }}
				{{ form_errors(form.state) }}
				{{ form_widget(form.state) }}

				{{ form_label(form.city) }}
				{{ form_errors(form.city) }}
				{{ form_widget(form.city) }}
			</div>
			<div class="additionalInformation">
				{{ form_label(form.boundary) }}
				{{ form_errors(form.boundary) }}
				{{ form_widget(form.boundary) }}
			</div>
			<p class="questionCost">Стоимость 0 кредитов</p>
			<input class="submitButton" type="submit" />
			<input name="cancelInformation" class="submitButton" type="button" value="Отменить" />
		</div>
	</div>	
	
	{{ form_rest(form) }}
</form>
	
	{% if userQuestions|length > 0 %}
		<div id="showQuestionIndex">
			{% for item in userQuestions %}
			<div class="singleQuestion">
				<div style="border: 1px solid #fff;" class="userName"></div>
				<div class="questionDate">{{ item.datetime|date('H:i:s d.m.Y') }}</div>
				<div class="closeButton"></div>
				<div style="clear: both;"></div>
				<div class="questionText">
					{{ item.text }}
					<div class="actionButton">
						<form class="answer">
							<input class="answerButton" type="submit" value="закрыть" />
							<input class="answerButton" type="submit" value="удалить" />
							<input class="answerButton" type="submit" value="свернуть" />
						</form>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	{% endif %}

	
{% endblock %}