{% extends '::base.html.twig' %}
	{% block content %}
	<script type="text/javascript">
    $(document).ready(function () {
        $('#register_country').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "country_id=" + $(this).val(),
                    url: "{{ path('getStates') }}",
                    success: function(data){
                        $('#register_state option:gt(0)').remove();
                        $('#register_state').append(data);
						document.getElementById('register_state').disabled=false;
                    }
                });
            } else {
                $('#register_state option:gt(0)').remove();
				document.getElementById('register_state').disabled=true;
				$('#register_city option:gt(0)').remove();
				document.getElementById('register_city').disabled=true;				
			}
        });
        $('#register_state').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "state_id=" + $(this).val(),
                    url: "{{ path('getCities') }}",
                    success: function(data){
                        $('#register_city option:gt(0)').remove();
                        $('#register_city').append(data);
						document.getElementById('register_city').disabled=false;
                    }
                });
            }
			else {
				$('#register_city option:gt(0)').remove();
				document.getElementById('register_city').disabled=true;					
			}
        });
	});
		</script>
		
	<form class="registerForm" action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>
		<h2 class="registrationH2">Регистрация</h2>
		<h3 class="registrationH3">Все поля обязательны для заполнения</h3>
		<div style="clear:both;"></div>
			
			
		<div class="registrationField">
			{{ form_label(form.email) }}
			{{ form_errors(form.email) }}
			{{ form_widget(form.email) }}
			<span class="fieldHelp">Укажите реальный и действующий e-mail адрес. Он потребуется для входа на сайт и для получения уведомлений.</span>
		</div>
		<div class="registrationField">
			{{ form_label(form.userpass) }}
			{{ form_errors(form.userpass) }}
			{{ form_widget(form.userpass) }}
			<span class="fieldHelp">Придумайте сложный пароль, который нельзя подобрать; От 4 до 12 символов — цифры и латинские буквы.</span>
		</div>
		<div class="registrationField">
			{{ form_label(form.username) }}
			{{ form_errors(form.username) }}
			{{ form_widget(form.username) }}
			<span class="fieldHelp">Укажите ваше имя или никнейм; От 2 до 12 символов - нельзя использовать цифры.</span>
		</div>
		<div class="registrationFieldGender">
			<div class="genderLabel">
			{{ form_label(form.gender) }}
			</div>
			{{ form_errors(form.gender) }}
			<div class="genderRadio">
			{{ form_widget(form.gender) }}
			</div>
		</div>
		<div class="registrationField">
			{{ form_label(form.birthDate) }}
			{{ form_errors(form.birthDate) }}
			<div class="birthDateSelect">
			{{ form_widget(form.birthDate) }}
			</div>
		</div>
		<div class="registrationFieldPlace">
			{{ form_label(form.country) }}
			{{ form_errors(form.country) }}
			{{ form_widget(form.country) }}
			{{ form_label(form.state) }}
			{{ form_errors(form.state) }}
			{{ form_widget(form.state) }}
			{{ form_label(form.city) }}
			{{ form_errors(form.city) }}
			{{ form_widget(form.city) }}
		</div>
		<div class="registrationField">
			{{ form_errors(form.agreement) }}
			{{ form_widget(form.agreement) }}
		</div>
	<input type="submit">
	</form>
	{% endblock %}