{% extends '::base.html.twig' %}
	{% block content %}
	{% block menu %}		
	<div style="clear: both"></div>
	{% endblock %}
	{% block chat %}
	{% endblock %}
	<script type="text/javascript">
    $(document).ready(function () {
        $('#register_country').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "country_id=" + $(this).val(),
                    url: "{{ path('getStates') }}",
                    success: function(data){
                        $('#register_state option:gt(0)').remove();
                        $('#register_state').append(data);
						document.getElementById('register_state').disabled=false;
                    }
                });
            } else {
                $('#register_state option:gt(0)').remove();
				document.getElementById('register_state').disabled=true;
				$('#register_city option:gt(0)').remove();
				document.getElementById('register_city').disabled=true;				
			}
        });
        $('#register_state').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "state_id=" + $(this).val(),
                    url: "{{ path('getCities') }}",
                    success: function(data){
                        $('#register_city option:gt(0)').remove();
                        $('#register_city').append(data);
						document.getElementById('register_city').disabled=false;
                    }
                });
            }
			else {
				$('#register_city option:gt(0)').remove();
				document.getElementById('register_city').disabled=true;					
			}
        });
		
		
		//Русский язык в форме регистрации. Отображение некоторых эдементов
		$('.registrationFieldPass > label').text('Пароль');
		$('#register_password > div:first > label').remove();
		$('.registrationFieldPass > label').css({
			'margin-top': '35px'
		});
		$('#register_password > div:last > label').css({
			'position': 'relative',
			'top':'36px',
			'left': '-1px'
		}).text('Повторите пароль');
		$('.genderLabel > label').css({
			'margin-left':'4px'
		});
		$('.registrationFieldPass + div').css({
			'margin-top':'-24px'
		});
		$('#register_agreement').css({
			'width':'13px',
			'border': 'none',
			'border-radius': '0',
			'font-size': '0',
			'margin-right': '244px',
			'margin-top':'18px',
			'margin-bottom':'11px',
			'top': '38px',
			'right': '-1px'
		});
		$('#register_password > div:first > ul').css({
		'position':'absolute',
		'display':'block',
		'font-family': 'Arial',
		'font-size': '18px',
		'color': '#ff5151',
		'right': '51px',
		'top': '37px'
		});
		$('#register_password > div:first > ul > li').text('поле не заполнено');
		
		//Отключение input'а 
		$("#register_agreement").attr('disabled','disabled');
		
		//Разблокировка input'а
		$('#terms > input:last').click(function() {
		$("#register_agreement").removeAttr('disabled');
		$('#register_agreement').attr('checked','checked');		
		});
		
		//Сравнение полей с паролем
		$('#register_password_Confirm').change(testPass).keyup(testPass);
		
		
		function testPass() {
			
			var p1 = $("#register_password_Password").val(); 
			var p2 = $("#register_password_Confirm").val();
			
			if(p1 == p2) { 
				$(".checkPassword").html('<span style="color:green;">Пароли совпадают</span>'); 
			} 
			else { 
				$(".checkPassword").html('<span style="color:red;">Пароли не совпадают</span>'); 
			}
		}
		
	  //Всплывающее пользовательское соглашение
	  $.fx.speeds._default = 1000;
	  $(function() {
		$( "#terms" ).dialog({
		  autoOpen: false,
		  show: "fade",
		  hide: "fade",
		  width: '955',
		  height: '1000',
		  modal: true,
		  resizable: false,
		  position: 'bottom'
		});
	 
	$( ".agreementLabel > a" ).click(function() {
		$( "#terms" ).dialog( "open" );
		return false;
		});
	$('#terms > input:last').click(function() {
		$('#terms').dialog('close');
		return false;
	});
	$('#terms > input:first').click(function() {
		$('#terms').dialog('close');
		$('#register_agreement').removeAttr('checked');
		$("#register_agreement").attr('disabled','disabled');		
		return false;
	});	
	
	  });


	
	});
	</script>
	
	<div class="registerWrapper">
		<form class="registerForm" action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>
			<h2 class="registrationH2">Регистрация</h2>
			<h3 class="registrationH3">Все поля обязательны для заполнения</h3>
			<a class="closeRegisterButton" href="{{ path('index') }}"></a>
			<div style="clear:both;"></div>	
			<div class="registrationField">
				{{ form_label(form.username) }}
				{{ form_widget(form.username) }}
				<div class="emailError">
				{{ form_errors(form.username) }}
				</div>
				<span class="fieldHelp">Укажите реальный и действующий e-mail адрес.<br> Он потребуется для входа на сайт и для получения уведомлений.</span>
			</div>
			<div class="registrationFieldPass">
				{{ form_label(form.password) }}
				{{ form_widget(form.password) }}
				<span class="fieldHelpPass">Придумайте сложный пароль, который нельзя подобрать; <br> От 4 до 12 символов — цифры и латинские буквы.</span>
				<span class="checkPassword"></span>
			</div>
			<div class="registrationField">
				{{ form_label(form.nick) }}
				{{ form_widget(form.nick) }}
				<div class="nickError">
				{{ form_errors(form.nick) }}
				</div>
				<span class="fieldHelp">Укажите ваше имя или никнейм; <br> От 2 до 12 символов - нельзя использовать цифры.</span>
			</div>
			<div class="registrationFieldGender">
				<div class="genderLabel">
				{{ form_label(form.gender) }}
				</div>
				<div class="genderRadio">
				{{ form_widget(form.gender) }}
				</div>
				<div class="genderError">
				{{ form_errors(form.gender) }}
				</div>
			</div>
			<div class="registrationField">
				{{ form_label(form.birthDate) }}
				{{ form_errors(form.birthDate) }}
				<span class="birtDateDescription">День&nbsp;&nbsp; Месяц &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Год</span>
				<div class="birthDateSelect">
				{{ form_widget(form.birthDate) }}
				</div>
			</div>
	<div class="registrationFieldPlace">
		<span class="placeLabel">Местонахождение</span>
		<div class="placeSelects">
			{{ form_label(form.country) }}	
			{{ form_widget(form.country) }}
			<div class="countryError">
			{{ form_errors(form.country) }}
			</div>
			{{ form_label(form.state) }}	
			{{ form_widget(form.state) }}
			<div class="stateError">				
			{{ form_errors(form.state) }}
			</div>
			{{ form_label(form.city) }}	
			{{ form_widget(form.city) }}
			<div class="cityError">					
			{{ form_errors(form.city) }}
			</div>
		</div>
		<div class="registrationField">
			<span class="agreementLabel">Пожалуйста, ознакомьтесь с <a href="#" title="Для продолжения регистрации ознакомьтесь с пользовательским соглашением">пользовательским соглашением</a></span>
			{{ form_widget(form.agreement) }}
			<div class="agreementError">
			{{ form_errors(form.agreement) }}
			</div>
		</div>

			{{ form_rest(form) }}
		<input class="registerButton" type="submit" value="Зарегистрироваться">
		</form>
	</div>
	
	<div id="terms">
	<p>
		<p>Пользовательское соглашение<br />
		об оказании услуг по использованию сайта http:// www.aditus.ru<br />
		между администрацией сайта и ее пользователями</p>

		<p>Данное Пользовательское соглашение (далее «соглашение») регламентирует отношения между администрацией сайта (сервиса) «www.aditus.ru» (далее «администрация») и юридическим или физическим лицом, использующим сайт (далее «пользователь») по размещению графических, текстовых материалов и изображений (далее «материалов») на сайте в сети интернет по адресу http:// www.aditus.ru (далее «сайт»). Настоящее пользовательское соглашение распространяется на настоящих и будущих пользователей сайта.<br />
		Настоящее пользовательское соглашение вступает в силу после нажатия кнопки «согласен» внизу страницы и действует все время использования Пользователем сайта. Пользовательское соглашение может быть изменено Администрацией без какого-либо уведомления пользователей. Новая версия ПС вступает в силу по истечении 3 (трех) дней с момента ее размещения, если иное не предусмотрено новой редакцией пользовательского соглашения.<br />
		Сайт http:// www.aditus.ru принадлежит Администрации. Логотип, название, элементы дизайна, оформления и общий внешний вид сайта являются собственностью Администрации и их использование запрещено.</p>

		<p>1. Порядок размещения материалов на сайте<br />
		 1.1. Разместить материалы на сайте может любой пользователь интернета. Для этого необходимо зарегистрироваться по адресу http:// www.aditus.ru.<br />
		На сайте существует три основных способа размещения материалов:<br />
		«Вопросы» — сообщения пользователя, размещенное с целью получения информации от других пользователей, ограниченные рамками настоящего соглашения.<br />
		«Ответы» — сообщения пользователей, размещенные в ответ на «Вопросы», ограниченные рамками настоящего соглашения.<br />
		«Электронная передача файлов» — хранение и отправка файлов пользователем через сайт другим пользователям.<br />
		1.2. Размещаемые на сайте материалы не должны:<br />
		- нарушать действующее законодательство, честь и достоинство, права и охраняемые законом интересы третьих лиц;<br />
		- способствовать разжиганию религиозной, расовой или межнациональной розни, содержать попытки разжигания вражды или призывы к насилию;<br />
		- не должны пропагандировать фашизм и идеологию расового превосходства;<br />
		- носить непристойный или оскорбительный характер;<br />
		- содержать ненадлежащую рекламу, рекламу наркотических веществ, попытки распространения наркотиков, рецепты их изготовления и советы по употреблению;<br />
		- содержать порнографические изображения и тексты, содержащие сцены педо-, зоо- и некрофилии и других сексуальных извращений;<br />
		- содержать сцены насилия, либо бесчеловечного обращения с животными, и т. д.;<br />
		- содержать описание средств и способов суицида, любое подстрекательство к его совершению;<br />
		- нарушать права несовершеннолетних лиц;<br />
		- нарушать авторские и смежные права третьих лиц;<br />
		- содержать материалы и/или технические решения, автоматически, без явного предварительного согласия пользователя добавляющего программный код в систему пользователя, либо изменяющие системные настройки системы пользователя;<br />
		- содержать компьютерные вирусы либо программы, способные прервать или нарушить нормальное функционирование компьютерного оборудования и программного обеспечения, а также средств телекоммуникации любых лиц.<br />
		1.3. Пользователь не имеет права осуществлять размещение (в т. ч. массовое) материалов рекламного или агитационного характера (в т. ч. баннеров), коммерческих предложений, или антирекламы, или иных материалов.<br />
		1.4. Пользователю запрещаются действия, ставящие своей целью накрутку рейтингов пользователей. Администрация оставляет за собой право удалять материалы и понижать накрученные рейтинги пользователей.</p>

		<p>1.5. Пользователь соглашается с тем, что Администрация вправе размещать на страницах, содержащих материалы пользователя, рекламные баннеры, объявления, а также иную информацию по своему усмотрению.<br />
		1.6. Администрация прилагает все возможные усилия для того, чтобы исключить с сайта небрежную, неаккуратную или заведомо неполную информацию, однако, в конечном счете, ответственность за нее лежит на разместивших ее лицах.<br />
		1.7. Администрация имеет право отказать пользователю в размещении материалов, а также удалить материалы по своему усмотрению и по любой причине, в том числе, если их содержание противоречит нормам этики и морали, не соответствует требованиям действующего законодательства Российской Федерации, противоречит требованиям настоящего соглашения и правилам администрации сайта. При этом Администрация не обязана уведомлять пользователя о причинах такого отказа либо удаления.</p>

		<p>2. Ответственность пользователя за размещение материалов на сайте<br />
		2.1. Пользователь соглашается с тем, что он несет полную ответственность в отношении материалов, размещаемых им на сайте. Администрация не несет ответственности за содержание материалов и за соответствие их требованиям законодательства, за нарушение авторских прав, несанкционированное использование товарных знаков, наименований фирм и их логотипов, а также за возможные нарушения прав третьих лиц в связи с размещением материалов на сайте. В случае поступления претензий от третьих лиц, связанных с размещением материалов, пользователь самостоятельно и за свой счет урегулирует указанные претензии.<br />
		2.2. Администрация не несет никакой ответственности за информацию, содержащуюся в вопросах, ответах, комментариях, рекламных материалах за ее достоверность и актуальность. <br />
		2.3. Пользователь не имеет права, размещать данные, содержащие вирусы или другие компьютерные программы заведомо вредоносного действия, файлы или программы, предназначенные для нарушения, уничтожения либо ограничения функциональности любого компьютерного или телекоммуникационного оборудования или программ, для осуществления несанкционированного доступа, а также серийные номера к коммерческим программным продуктам и программы для их генерации, логины, пароли и прочие средства для получения несанкционированного доступа к платным ресурсам в Интернете, а также размещать ссылки на вышеуказанную информацию<br />
		2.4. Пользователь знает, и согласен с тем, что сайт имеет дело с материалами и данными, созданными третьими лицами и размещенными ими в сети интернет на своих компьютерах и (или) серверах. Содержание и безопасность этих материалов не могут быть проконтролированы Администрацией, поэтому последняя не несет ответственности:<br />
		- за содержание материалов, полученных Пользователем в результате использования данных с сайта, их возможное несоответствие действующему законодательству или оскорбительный характер;<br />
		- за последствия применения, использования или неиспользования полученной информации;<br />
		- за возможное несоответствие результатов, полученных при использовании сайта, ожиданиям Пользователя;<br />
		- за какие-либо повреждения оборудования или программного обеспечения Пользователя, возникшие в результате использования сайта;<br />
		- за отсутствие возможности использования сайта по каким-либо причинам;<br />
		- за последствия, которые может повлечь распространение нелегального либо нелицензионного программного обеспечения и аудио-/видеопродукции, а также иных материалов либо данных, затрагивающих права третьих лиц.<br />
		- ни при каких обстоятельствах администрация сайта не несет перед Пользователем, либо третьими лицами ответственности за ущерб, убытки или расходы, возникшие в связи с его использованием или невозможностью использования, включая упущенную либо недополученную прибыль.<br />
		2.5. Администрация не гарантирует, что программное обеспечение, сервера и компьютерные сети, используемые сайтом свободны от ошибок и компьютерных вирусов. Если использование сайта повлекло за собой утрату данных или порчу оборудования, Администрация не несет за это ответственности.<br />
		2.6. Пользователь обязуется не выдавать себя на сайте за другое лицо либо представителя организации и/или сообщества, в том числе за сотрудников, модераторов либо владельца сайта, а также не вводить других пользователей в заблуждение относительно свойств и характеристик каких-либо субъектов или объектов. <br />
		2.7. Администрация старается обеспечивать бесперебойную работу сайта, однако не несет ответственности за полную или частичную утрату материалов, размещаемых пользователем, а также за недостаточное качество или скорость предоставления услуги.<br />
		2.8. В случае нарушения настоящего пользовательского соглашения, Администрация вправе удалить материалы, а также применить следующие санкции к любому зарегистрированному пользователю:<br />
		- удалить материалы, нарушающие соглашение, в случае отказа пользователя подчиниться указаниям Администрации;<br />
		- полностью или частично блокировать доступ пользователя к сайту;<br />
		2.9. Пользователь, считающий, что его права и интересы нарушены из-за действий Администрации или третьих лиц в связи с размещением на сайте каких-либо материалов, направляет претензию по адресу электронной почты support@aditus.ru. Материалы будут немедленно изъяты из свободного доступа по первому требованию законного правообладателя. <br />
		2.10. Пользователь соглашается с тем, что все возможные споры по поводу Пользовательского соглашения будут разрешаться по нормам российского права.<br />
		2.11. Бездействие со стороны Администрации в случае нарушения Пользователем, либо группой Пользователей пользовательского соглашения не означает того, что Администрация сайта содействует Пользователю, либо группе Пользователей в таковых действиях.<br />
		2.12. Бездействие со стороны Администрации в случае нарушения Пользователем либо группой Пользователей пользовательского соглашения не лишает Администрацию права предпринять соответствующие действия в защиту своих интересов позднее.<br />
		2.13. Пользователь соглашается с тем, что именно он несёт всю полноту ответственности в случае нарушения им Российского и международного законодательства.<br />
		</p>
	</p>
	<input type="submit" value="Не согласен"/>	
	<input type="submit" value="Согласен"/>
	</div>
	{% endblock %}