{% extends '::base.html.twig' %}
	{% block content %}
	{% block menu %}		
	<div style="clear: both"></div>
	{% endblock %}
	{% block chat %}
	{% endblock %}
	<script type="text/javascript">
    $(document).ready(function () {
        $('#register_country').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "country_id=" + $(this).val(),
                    url: "{{ path('getStates') }}",
                    success: function(data){
                        $('#register_state option:gt(0)').remove();
                        $('#register_state').append(data);
						document.getElementById('register_state').disabled=false;
                    }
                });
            } else {
                $('#register_state option:gt(0)').remove();
				document.getElementById('register_state').disabled=true;
				$('#register_city option:gt(0)').remove();
				document.getElementById('register_city').disabled=true;				
			}
        });
        $('#register_state').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "state_id=" + $(this).val(),
                    url: "{{ path('getCities') }}",
                    success: function(data){
                        $('#register_city option:gt(0)').remove();
                        $('#register_city').append(data);
						document.getElementById('register_city').disabled=false;
                    }
                });
            }
			else {
				$('#register_city option:gt(0)').remove();
				document.getElementById('register_city').disabled=true;					
			}
        });
		
		
		//Русский язык в форме регистрации. Отображение некоторых эдементов
		$('.registrationFieldPass > label').text('{% trans %}Пароль{% endtrans %}');
		$('#register_password > div:first > label').remove();
		$('.registrationFieldPass > label').css({
			'margin-top': '38px'
		});
		$('#register_password > div:last > label').css({
			'position': 'relative',
			'top':'40px',
			'left': '-1px'
		}).text('{% trans %}Повторите пароль{% endtrans %}');
		$('.genderLabel > label').css({
			'margin-left':'4px'
		});
		$('.registrationFieldPass + div').css({
			'margin-top':'-24px'
		});
		$('#register_agreement').css({
			'width':'13px',
			'border': 'none',
			'border-radius': '0',
			'font-size': '0',
			'margin-right': '244px',
			'margin-top':'18px',
			'margin-bottom':'11px',
			'top': '38px',
			'right': '-1px',
            'float': 'left'
		});
		$('#register_password > div:first > ul').css({
		'position':'absolute',
		'display':'block',
		'font-family': 'Arial',
		'font-size': '18px',
		'color': '#ff5151',
		'right': '51px',
		'top': '37px'
		});
		$('#register_password > div:first > ul > li').text('{% trans %}поле не заполнено{% endtrans %}');
				
		//Сравнение полей с паролем
		$('#register_password_Confirm').change(testPass).keyup(testPass);
		var timer;
		
		function testPass() {
			clearTimeout(timer);
			timer = setTimeout(function(){
				var p1 = $("#register_password_Password").val(); 
				var p2 = $("#register_password_Confirm").val();
				
				if(p1 == p2) { 
					$(".checkPassword").html('<span style="color:green;">{% trans %}Пароли совпадают{% endtrans %}</span>'); 
				} 
				else { 
					$(".checkPassword").html('<span style="color:red;">{% trans %}Пароли не совпадают{% endtrans %}</span>'); 
				}
			}, 2000);
		}
		
	//Всплывающее пользовательское соглашение
	$( ".agreementLabel > a" ).click(function() {
		$("#terms-of-use").fadeIn("fast");
		return false;
	});
	$('#agree').click(function() {
		$('#terms-of-use').fadeOut('fast');
		return false;
	});
	$('#not-agree').click(function() {
		$('#terms-of-use').fadeOut('fast');
		$('#register_agreement').removeAttr('checked');
		$("#register_agreement").attr('disabled','disabled');		
		return false;
	});	
	//Отключение input'а 
	$("#register_agreement").attr('disabled','disabled');
	
	//Разблокировка input'а
	$('#agree').click(function() {
		$("#register_agreement").removeAttr('disabled');
		$('#register_agreement').attr('checked','checked');		
	});	
	
});
	</script>
	
	<div class="registerWrapper">
		<form class="registerForm" action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>
			<h2 class="registrationH2">{% trans %}Регистрация{% endtrans %}</h2>
			<h3 class="registrationH3">{% trans %}Все поля обязательны для заполнения{% endtrans %}</h3>
			<a class="closeRegisterButton" href="{{ path('index') }}" title="закрыть"></a>
			<div style="clear:both;"></div>	
			<div class="registrationField">
				{{ form_label(form.username) }}
				{{ form_widget(form.username) }}
				<div class="emailError">
				{{ form_errors(form.username) }}
				</div>
				<span class="fieldHelp">{% trans %}Укажите реальный и действующий e-mail адрес.{% endtrans %}</br> {% trans %}Он потребуется для входа на сайт и для получения уведомлений.{% endtrans %}</span>
			</div>
			<div class="registrationFieldPass">
				{{ form_label(form.password) }}
				{{ form_widget(form.password) }}
				<span class="fieldHelpPass">{% trans %}Придумайте сложный пароль, который нельзя подобрать;{% endtrans %} </br> {% trans %}От 4 до 12 символов — цифры и латинские буквы.{% endtrans %}</span>
				<span class="checkPassword"></span>
			</div>
			<div class="registrationField">
				{{ form_label(form.nick) }}
				{{ form_widget(form.nick) }}
				<div class="nickError">
				{{ form_errors(form.nick) }}
				</div>
				<span class="fieldHelp">{% trans %}Укажите ваше имя или никнейм;{% endtrans %} </br> {% trans %}от 2 до 12 символов - нельзя использовать цифры.{% endtrans %}</span>
			</div>
			<div class="registrationFieldGender">
				<div class="genderLabel">
				{{ form_label(form.gender) }}
				</div>
				<div class="genderRadio">
				{{ form_widget(form.gender) }}
				</div>
				<div class="genderError">
				{{ form_errors(form.gender) }}
				</div>
			</div>
			<div class="registrationField">
				{{ form_label(form.birthDate) }}
				{{ form_errors(form.birthDate) }}
				<span class="birtDateDescription">{% trans %}День{% endtrans %}&nbsp;&nbsp; {% trans %}Месяц{% endtrans %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans %}Год{% endtrans %}</span>
				<div class="birthDateSelect">
				{{ form_widget(form.birthDate) }}
				</div>
			</div>
	<div class="registrationFieldPlace">
		<span class="placeLabel">{% trans %}Местонахождение{% endtrans %}</span>
		<div class="placeSelects">
			{{ form_label(form.country) }}	
			{{ form_widget(form.country) }}
			<div class="countryError">
			{{ form_errors(form.country) }}
			</div>
			{{ form_label(form.state) }}	
			{{ form_widget(form.state) }}
			<div class="stateError">				
			{{ form_errors(form.state) }}
			</div>
			{{ form_label(form.city) }}	
			{{ form_widget(form.city) }}
			<div class="cityError">					
			{{ form_errors(form.city) }}
			</div>
		</div>
        <div style="clear: both;"></div>
        <div class="registrationField">
			<span class="agreementLabel">{% trans %}Пожалуйста, ознакомьтесь с{% endtrans %} <a href="#">{% trans %}пользовательским соглашением{% endtrans %}</a></span>
			{{ form_widget(form.agreement) }}
			<div class="agreementError">
			{{ form_errors(form.agreement) }}
			</div>
		</div>
			{{ form_rest(form) }}
		<input class="registerButton" type="submit" value="{% trans %}Зарегистрироваться{% endtrans %}" />
		</form>
	</div>
	
	<div id="terms-of-use">
<div class=WordSection1>
{% trans %}agreement_bigtext{% endtrans %}
</div>
		<input id="not-agree" type="submit" value="{% trans %}отмена{% endtrans %}"/>	
		<input id="agree" type="submit" value="{% trans %}Я принимаю условия пользовательского соглашения{% endtrans %}"/>
	</div>
	{% endblock %}