{% extends '::base.html.twig' %}
	{% block content %}
	{% block menu %}		
	<div style="clear: both"></div>
	{% endblock %}
	{% block chat %}
	{% endblock %}
	<script type="text/javascript">
    $(document).ready(function () {
        $('#register_country').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "country_id=" + $(this).val(),
                    url: "{{ path('getStates') }}",
                    success: function(data){
                        $('#register_state option:gt(0)').remove();
                        $('#register_state').append(data);
						document.getElementById('register_state').disabled=false;
                    }
                });
            } else {
                $('#register_state option:gt(0)').remove();
				document.getElementById('register_state').disabled=true;
				$('#register_city option:gt(0)').remove();
				document.getElementById('register_city').disabled=true;				
			}
        });
        $('#register_state').change(function(){
            if($(this).val()){
                $.ajax({
                    type: "POST",
                    data: "state_id=" + $(this).val(),
                    url: "{{ path('getCities') }}",
                    success: function(data){
                        $('#register_city option:gt(0)').remove();
                        $('#register_city').append(data);
						document.getElementById('register_city').disabled=false;
                    }
                });
            }
			else {
				$('#register_city option:gt(0)').remove();
				document.getElementById('register_city').disabled=true;					
			}
        });
		
		
		//Русский язык в форме регистрации. Отображение некоторых эдементов
		$('.registrationFieldPass > label').text('{% trans %}Пароль{% endtrans %}');
		$('#register_password > div:first > label').remove();
		$('.registrationFieldPass > label').css({
			'margin-top': '38px'
		});
		$('#register_password > div:last > label').css({
			'position': 'relative',
			'top':'40px',
			'left': '-1px'
		}).text('{% trans %}Повторите пароль{% endtrans %}');
		$('.genderLabel > label').css({
			'margin-left':'4px'
		});
		$('.registrationFieldPass + div').css({
			'margin-top':'-24px'
		});
		$('#register_agreement').css({
			'width':'13px',
			'border': 'none',
			'border-radius': '0',
			'font-size': '0',
			'margin-right': '244px',
			'margin-top':'18px',
			'margin-bottom':'11px',
			'top': '38px',
			'right': '-1px',
            'float': 'left'
		});
		$('#register_password > div:first > ul').css({
		'position':'absolute',
		'display':'block',
		'font-family': 'Arial',
		'font-size': '18px',
		'color': '#ff5151',
		'right': '51px',
		'top': '37px'
		});
		$('#register_password > div:first > ul > li').text('{% trans %}поле не заполнено{% endtrans %}');
				
		//Сравнение полей с паролем
		$('#register_password_Confirm').change(testPass).keyup(testPass);
		var timer;
		
		function testPass() {
			clearTimeout(timer);
			timer = setTimeout(function(){
				var p1 = $("#register_password_Password").val(); 
				var p2 = $("#register_password_Confirm").val();
				
				if(p1 == p2) { 
					$(".checkPassword").html('<span style="color:green;">{% trans %}Пароли совпадают{% endtrans %}</span>'); 
				} 
				else { 
					$(".checkPassword").html('<span style="color:red;">{% trans %}Пароли не совпадают{% endtrans %}</span>'); 
				}
			}, 2000);
		}
		
	//Всплывающее пользовательское соглашение
	$( ".agreementLabel > a" ).click(function() {
		$("#terms-of-use").fadeIn("fast");
		return false;
	});
	$('#agree').click(function() {
		$('#terms-of-use').fadeOut('fast');
		return false;
	});
	$('#not-agree').click(function() {
		$('#terms-of-use').fadeOut('fast');
		$('#register_agreement').removeAttr('checked');
		$("#register_agreement").attr('disabled','disabled');		
		return false;
	});	
	//Отключение input'а 
	$("#register_agreement").attr('disabled','disabled');
	
	//Разблокировка input'а
	$('#agree').click(function() {
		$("#register_agreement").removeAttr('disabled');
		$('#register_agreement').attr('checked','checked');		
	});	
	
});
	</script>
	
	<div class="registerWrapper">
		<form class="registerForm" action="{{ path('register') }}" method="post" {{ form_enctype(form) }}>
			<h2 class="registrationH2">{% trans %}Регистрация{% endtrans %}</h2>
			<h3 class="registrationH3">{% trans %}Все поля обязательны для заполнения{% endtrans %}</h3>
			<a class="closeRegisterButton" href="{{ path('index') }}" title="закрыть"></a>
			<div style="clear:both;"></div>	
			<div class="registrationField">
				{{ form_label(form.username) }}
				{{ form_widget(form.username) }}
				<div class="emailError">
				{{ form_errors(form.username) }}
				</div>
				<span class="fieldHelp">{% trans %}Укажите реальный и действующий e-mail адрес.{% endtrans %}</br> {% trans %}Он потребуется для входа на сайт и для получения уведомлений.{% endtrans %}</span>
			</div>
			<div class="registrationFieldPass">
				{{ form_label(form.password) }}
				{{ form_widget(form.password) }}
				<span class="fieldHelpPass">{% trans %}Придумайте сложный пароль, который нельзя подобрать;{% endtrans %} </br> {% trans %}От 4 до 12 символов — цифры и латинские буквы.{% endtrans %}</span>
				<span class="checkPassword"></span>
			</div>
			<div class="registrationField">
				{{ form_label(form.nick) }}
				{{ form_widget(form.nick) }}
				<div class="nickError">
				{{ form_errors(form.nick) }}
				</div>
				<span class="fieldHelp">{% trans %}Укажите ваше имя или никнейм;{% endtrans %} </br> {% trans %}от 2 до 12 символов - нельзя использовать цифры.{% endtrans %}</span>
			</div>
			<div class="registrationFieldGender">
				<div class="genderLabel">
				{{ form_label(form.gender) }}
				</div>
				<div class="genderRadio">
				{{ form_widget(form.gender) }}
				</div>
				<div class="genderError">
				{{ form_errors(form.gender) }}
				</div>
			</div>
			<div class="registrationField">
				{{ form_label(form.birthDate) }}
				{{ form_errors(form.birthDate) }}
				<span class="birtDateDescription">{% trans %}День{% endtrans %}&nbsp;&nbsp; {% trans %}Месяц{% endtrans %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans %}Год{% endtrans %}</span>
				<div class="birthDateSelect">
				{{ form_widget(form.birthDate) }}
				</div>
			</div>
	<div class="registrationFieldPlace">
		<span class="placeLabel">{% trans %}Местонахождение{% endtrans %}</span>
		<div class="placeSelects">
			{{ form_label(form.country) }}	
			{{ form_widget(form.country) }}
			<div class="countryError">
			{{ form_errors(form.country) }}
			</div>
			{{ form_label(form.state) }}	
			{{ form_widget(form.state) }}
			<div class="stateError">				
			{{ form_errors(form.state) }}
			</div>
			{{ form_label(form.city) }}	
			{{ form_widget(form.city) }}
			<div class="cityError">					
			{{ form_errors(form.city) }}
			</div>
		</div>
        <div style="clear: both;"></div>
        <div class="registrationField">
			<span class="agreementLabel">{% trans %}Пожалуйста, ознакомьтесь с{% endtrans %} <a href="#">{% trans %}пользовательским соглашением{% endtrans %}</a></span>
			{{ form_widget(form.agreement) }}
			<div class="agreementError">
			{{ form_errors(form.agreement) }}
			</div>
		</div>
			{{ form_rest(form) }}
		<input class="registerButton" type="submit" value="{% trans %}Зарегистрироваться{% endtrans %}" />
		</form>
	</div>
	
	<div id="terms-of-use">
<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center;text-indent:1.0cm'><b
style='mso-bidi-font-weight:normal'><span style='font-size:16.0pt;font-family:
"Cambria","serif";mso-ascii-theme-font:major-latin;mso-fareast-font-family:
"Arial Unicode MS";mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>Пользовательское
соглашение<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:14.0pt;font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
AR-SA'>об оказании услуг по использованию сайта<span style='mso-spacerun:yes'> 
</span></span><span lang=EN-US style='font-size:14.0pt;font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Arial Unicode MS";
mso-hansi-theme-font:major-latin'>http</span><span style='font-size:14.0pt;
font-family:"Cambria","serif";mso-ascii-theme-font:major-latin;mso-fareast-font-family:
"Arial Unicode MS";mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>://</span><span
lang=EN-US><a href="http://www.aditus.ru"><span style='font-size:14.0pt;
font-family:"Cambria","serif";mso-ascii-theme-font:major-latin;mso-fareast-font-family:
"Arial Unicode MS";mso-hansi-theme-font:major-latin;color:windowtext'>www</span><span
lang=RU style='font-size:14.0pt;font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;color:windowtext;mso-ansi-language:RU'>.</span><span class=SpellE><span
style='font-size:14.0pt;font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;color:windowtext'>aditus</span></span><span lang=RU
style='font-size:14.0pt;font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;color:windowtext;mso-ansi-language:RU'>.</span><span class=SpellE><span
style='font-size:14.0pt;font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;color:windowtext'>ru</span></span></a></span><span
style='font-size:14.0pt;font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'><o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:14.0pt;font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'>между администрацией сайта и ее
пользователями.<o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:11.0pt;font-family:"Times New Roman","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Times New Roman";
mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:AR-SA'>Настоящее
соглашение было составлено на русском языке. Если какой-либо перевод настоящего
соглашения вступает в противоречие с его английской версией, то приоритетное
значение сохраняется за английской версией.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-size:11.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Arial Unicode MS";mso-ansi-language:RU'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span class=GramE><span style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS";mso-ansi-language:RU'>Данное
Пользовательское соглашение (далее «соглашение») регламентирует отношения между
администрацией сайта (сервиса) «</span><span lang=EN-US style='font-family:
"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS"'>www</span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>.</span><span class=SpellE><span lang=EN-US
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS"'>aditus</span></span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>.</span><span class=SpellE><span lang=EN-US
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS"'>ru</span></span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>» (далее<span style='mso-spacerun:yes'> 
</span>«администрация») и </span><span style='font-family:"Cambria","serif";
mso-fareast-font-family:"Times New Roman";mso-ansi-language:RU;mso-fareast-language:
RU;mso-bidi-language:AR-SA'>юридическим или физическим лицом, использующим сайт</span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'> (далее «пользователь») по размещению графических,
текстовых материалов и изображений (далее «материалов») на сайте в сети
интернет по адресу<span style='mso-spacerun:yes'>                        
</span><span style='mso-spacerun:yes'>            </span></span><span
lang=EN-US style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS"'>http</span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>:// </span><span lang=EN-US style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS"'>www</span><span style='font-family:
"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";mso-ansi-language:
RU'>.</span><span class=SpellE><span lang=EN-US style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS"'>aditus</span></span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>.</span><span class=SpellE><span lang=EN-US
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS"'>ru</span></span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'> (далее «сайт»).</span></span><span style='font-family:
"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";mso-ansi-language:
RU'> </span><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Times New Roman";mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
AR-SA'>Настоящее пользовательское соглашение распространяется на настоящих и
будущих пользователей сайта.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ansi-language:
RU'>Настоящее пользовательское соглашение вступает в силу после нажатия кнопки
«согласен» внизу страницы и действует все время использования Пользователем
сайта. Пользовательское соглашение может быть изменено Администрацией без
какого-либо уведомления пользователей. Новая версия ПС вступает в силу по
истечении 3 (трех) дней с момента ее размещения, если иное не предусмотрено
новой редакцией пользовательского соглашения.</span><span style='font-family:
"Cambria","serif";mso-fareast-font-family:"Times New Roman";mso-ansi-language:
RU;mso-fareast-language:RU;mso-bidi-language:AR-SA'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Times New Roman";mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
AR-SA'>Сайт </span><span lang=EN-US style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS"'>http</span><span style='font-family:
"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";mso-ansi-language:
RU'>://</span><span lang=EN-US><a href="http://www.aditus.ru"><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
color:windowtext'>www</span><span lang=RU style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS";color:windowtext;mso-ansi-language:
RU'>.</span><span class=SpellE><span style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS";color:windowtext'>aditus</span></span><span
lang=RU style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
color:windowtext;mso-ansi-language:RU'>.</span><span class=SpellE><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
color:windowtext'>ru</span></span></a></span><span style='font-family:"Cambria","serif";
mso-fareast-font-family:"Times New Roman";mso-ansi-language:RU;mso-fareast-language:
RU;mso-bidi-language:AR-SA'> принадлежит Администрации. Логотип, название,
элементы дизайна, оформления и общий внешний вид сайта являются собственностью
Администрации и их использование запрещено.</span><span style='font-size:11.0pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:AR-SA'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-size:11.0pt;font-family:"Times New Roman","serif";
mso-fareast-font-family:"Times New Roman";mso-ansi-language:RU;mso-fareast-language:
RU;mso-bidi-language:AR-SA'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;text-indent:1.0cm'><b
style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;font-family:
"Cambria","serif";mso-ascii-theme-font:major-latin;mso-fareast-font-family:
"Arial Unicode MS";mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>1.
Порядок размещения материалов на сайте<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'><span style='mso-spacerun:yes'>          </span>1.1.
Разместить материалы на сайте может любой пользователь интернета. Для этого
необходимо зарегистрироваться по адресу </span><span lang=EN-US
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS"'>http</span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>:// </span><span lang=EN-US style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS"'>www</span><span style='font-family:
"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";mso-ansi-language:
RU'>.</span><span class=SpellE><span lang=EN-US style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS"'>aditus</span></span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>.</span><span class=SpellE><span lang=EN-US
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS"'>ru</span></span><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>.</span><span style='font-family:"Cambria","serif";
mso-ansi-language:RU'><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>На сайте существует три основных
способа размещения материалов:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><b style='mso-bidi-font-weight:normal'><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>«Вопросы» </span></b><span style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS";mso-ansi-language:RU'>— сообщения
пользователя, размещенное с целью получения информации от других пользователей,
ограниченные рамками настоящего соглашения.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><b style='mso-bidi-font-weight:normal'><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>«Ответы»</span></b><span style='font-family:"Cambria","serif";
mso-fareast-font-family:"Arial Unicode MS";mso-ansi-language:RU'> — сообщения
пользователей, размещенные в ответ на «Вопросы», ограниченные рамками
настоящего соглашения.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><b style='mso-bidi-font-weight:normal'><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'>«Электронная передача файлов»</span></b><span
style='font-family:"Cambria","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'> — отправка и<span style='mso-spacerun:yes'> 
</span>хранение файлов пользователем через сайт<span style='mso-spacerun:yes'> 
</span>другим пользователям.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>1.2. Размещаемые на сайте материалы не
должны:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- нарушать действующее
законодательство, честь и достоинство, права и охраняемые законом интересы
третьих лиц;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- способствовать разжиганию
религиозной, расовой или межнациональной розни, содержать попытки разжигания
вражды или призывы к насилию;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- не должны пропагандировать фашизм и
идеологию расового превосходства;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- носить непристойный или
оскорбительный характер;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- содержать ненадлежащую рекламу,
рекламу наркотических веществ, попытки распространения наркотиков, рецепты их
изготовления и советы по употреблению;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- содержать порнографические
изображения и тексты, содержащие сцены <span class=SpellE>пед<span class=GramE>о</span></span><span
class=GramE>-</span>, <span class=SpellE>зоо</span>- и некрофилии и других
сексуальных извращений;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- содержать сцены насилия, либо
бесчеловечного обращения с животными, и т.д.;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- содержать описание средств и
способов суицида, любое подстрекательство к его совершению;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- нарушать права несовершеннолетних
лиц;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- нарушать авторские и смежные права
третьих лиц;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- содержать материалы и/или
технические решения, автоматически, без явного предварительного согласия
пользователя добавляющего программный код в систему пользователя, либо
изменяющие системные настройки системы пользователя;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>- содержать компьютерные вирусы либо
программы, способные прервать или нарушить нормальное функционирование
компьютерного оборудования и программного обеспечения, а также средств
телекоммуникации любых лиц.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>1.3. <span class=GramE>Пользователь не
имеет права осуществлять размещение (в т. ч. массовое) материалов рекламного
или агитационного характера (в т. ч. баннеров), коммерческих предложений, или
антирекламы, или иных материалов.</span><o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>1.4. Пользователю запрещаются
действия, ставящие своей целью накрутку рейтингов пользователей. Администрация
оставляет за собой право удалять материалы и понижать накрученные рейтинги
пользователей.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>1.5. Пользователь соглашается с тем,
что Администрация вправе размещать на страницах, содержащих материалы
пользователя, рекламные баннеры, объявления, а также иную информацию по своему
усмотрению.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Times New Roman";mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
AR-SA'>1.6. Администрация прилагает все возможные усилия для того, чтобы
исключить с сайта небрежную, неаккуратную или заведомо неполную информацию,
однако, в конечном счете, ответственность за нее лежит на разместивших ее
лицах.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-fareast-font-family:
"Arial Unicode MS";mso-ansi-language:RU'>1.7. Администрация имеет право
отказать пользователю в размещении материалов, а также удалить материалы по
своему усмотрению и по любой причине, в том числе, если их содержание
противоречит нормам этики и морали, не соответствует требованиям действующего
законодательства Российской Федерации, противоречит требованиям настоящего
соглашения и правилам администрации сайта. При этом Администрация<span
style='mso-spacerun:yes'>  </span>не обязана уведомлять пользователя о причинах
такого отказа либо удаления.<o:p></o:p></span></p>

<p class=MsoNormal align=center style='text-align:center;text-indent:1.0cm'><b
style='mso-bidi-font-weight:normal'><span style='font-size:11.0pt;font-family:
"Times New Roman","serif";mso-fareast-font-family:"Arial Unicode MS";
mso-ansi-language:RU'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center;text-indent:1.0cm'><b
style='mso-bidi-font-weight:normal'><span style='font-size:14.0pt;font-family:
"Cambria","serif";mso-ascii-theme-font:major-latin;mso-fareast-font-family:
"Arial Unicode MS";mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>2.
Ответственность пользователя за размещение материалов на сайте<o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'>2.1. Пользователь соглашается с тем, что он
несет полную ответственность в отношении материалов, размещаемых им на сайте.
Администрация не несет ответственности за содержание материалов и за
соответствие их требованиям законодательства, за нарушение авторских прав,
несанкционированное использование товарных знаков, наименований фирм и их
логотипов, а также за возможные нарушения прав третьих лиц в связи с
размещением материалов на сайте. В случае поступления претензий от третьих лиц,
связанных с размещением материалов, пользователь самостоятельно и за свой счет
урегулирует указанные претензии.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
AR-SA'>2.2. Администрация не несет никакой ответственности за информацию,
содержащуюся в вопросах, ответах, комментариях, рекламных материалах за ее
достоверность и актуальность. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>2.3. <span
class=GramE>Пользователь не имеет права, размещать данные, содержащие вирусы
или другие компьютерные программы заведомо вредоносного действия, файлы или
программы, предназначенные для нарушения, уничтожения либо ограничения
функциональности любого компьютерного или телекоммуникационного оборудования
или программ, для осуществления несанкционированного доступа, а также серийные
номера к коммерческим программным продуктам и программы для их генерации,
логины, пароли и прочие средства для получения несанкционированного доступа к
платным</span> ресурсам в Интернете, а также размещать ссылки на вышеуказанную
информацию</span><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
AR-SA'><o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:1.0cm'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:
RU'>2.4. Пользователь знает, и согласен с тем, что сайт имеет дело с
материалами и данными, созданными третьими лицами и размещенными ими в сети
интернет на своих компьютерах и (или) серверах. <span class=GramE>Содержание и
безопасность этих материалов не могут быть проконтролированы Администрацией,
поэтому последняя не несет ответственности:</span><o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:35.45pt'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:
RU'>- за содержание материалов, полученных Пользователем в результате
использования данных с сайта, их возможное несоответствие действующему
законодательству или оскорбительный характер;<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:35.45pt'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:
RU'>- за последствия применения, использования или неиспользования полученной
информации;<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:35.45pt'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:
RU'>- за возможное несоответствие результатов, полученных при использовании
сайта, ожиданиям Пользователя;<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:35.45pt'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:
RU'>- за какие-либо повреждения оборудования или программного обеспечения
Пользователя, возникшие в результате использовании сайта;<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:35.45pt'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:
RU'>- за отсутствие возможности использования сайта по каким-либо причинам;<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:35.45pt'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:
RU'>- за последствия, которые может повлечь распространение нелегального либо
нелицензионного программного обеспечения и ауди<span class=GramE>о-</span>/видеопродукции,
а также иных материалов либо данных, затрагивающих права третьих лиц.<o:p></o:p></span></p>

<p style='margin:0cm;margin-bottom:.0001pt;text-align:justify;text-justify:
inter-ideograph;text-indent:35.45pt'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:
RU'>- ни при каких обстоятельствах администрация сайта не несет перед
Пользователем, либо третьими лицами ответственности за ущерб, убытки или
расходы, возникшие в связи с<span style='mso-spacerun:yes'>  </span>его
использованием или невозможностью использования, включая упущенную либо
недополученную прибыль.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Times New Roman";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU;mso-fareast-language:RU;mso-bidi-language:
AR-SA'>2.5. Администрация не гарантирует, что программное обеспечение, сервера
и компьютерные сети, используемые сайтом свободны от ошибок и компьютерных
вирусов. Если использование сайта повлекло за собой утрату данных или порчу
оборудования, Администрация не несет за это ответственности.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'>2.6. Пользователь обязуется не выдавать себя
на сайте за другое лицо либо представителя организации и/или сообщества, в том
числе за сотрудников, модераторов либо владельца сайта, а также не вводить
других пользователей в заблуждение относительно свойств и характеристик
каких-либо субъектов или объектов. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'>2.7. Администрация старается обеспечивать
бесперебойную работу сайта, однако не несет ответственности за полную или
частичную утрату материалов, размещаемых пользователем, а также за
недостаточное качество или скорость предоставления услуги.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'>2.8. В случае нарушения настоящего
пользовательского соглашения,<span style='mso-spacerun:yes'> 
</span>Администрация вправе удалить материалы, а также применить следующие
санкции к любому зарегистрированному пользователю:<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'>- удалить материалы, нарушающие соглашение, в
случае отказа пользователя подчиниться указаниям Администрации;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'>- полностью или частично блокировать доступ
пользователя к сайту;<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'>2.9. Пользователь, считающий, что его права и
интересы нарушены из-за действий Администрации или третьих лиц в связи с
размещением на сайте каких-либо материалов, направляет претензию по адресу
электронной почты </span><i style='mso-bidi-font-style:normal'><span
lang=EN-US style='font-family:"Cambria","serif";mso-ascii-theme-font:major-latin;
mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:major-latin'>support</span></i><i
style='mso-bidi-font-style:normal'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Arial Unicode MS";
mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>@<span class=SpellE>aditus</span>.</span></i><span
class=SpellE><i style='mso-bidi-font-style:normal'><span lang=EN-US
style='font-family:"Cambria","serif";mso-ascii-theme-font:major-latin;
mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:major-latin'>ru</span></i></span><i
style='mso-bidi-font-style:normal'><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Arial Unicode MS";
mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>.</span></i><span
style='font-family:"Cambria","serif";mso-ascii-theme-font:major-latin;
mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:major-latin;
mso-ansi-language:RU'> Материалы будут немедленно изъяты из свободного доступа
по первому требованию законного правообладателя. <o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>2.10.
Пользователь соглашается с тем, что все возможные споры по поводу
Пользовательского соглашения<span style='mso-spacerun:yes'>  </span>будут
разрешаться по нормам российского права.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>2.11.
Бездействие со стороны Администрации в случае нарушения Пользователем, либо
группой Пользователей пользовательского соглашения не означает того, что
Администрация сайта содействует Пользователю, либо группе Пользователей в
таковых действиях.<o:p></o:p></span></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>2.12.
Бездействие со стороны Администрации<span style='mso-spacerun:yes'>  </span>в
случае нарушения Пользователем либо группой Пользователей пользовательского
соглашения не лишает Администрацию права предпринять соответствующие действия в
защиту своих интересов позднее.</span><b style='mso-bidi-font-weight:normal'><span
style='font-family:"Cambria","serif";mso-ascii-theme-font:major-latin;
mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:major-latin;
mso-ansi-language:RU'><o:p></o:p></span></b></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph;
text-indent:1.0cm'><span style='font-family:"Cambria","serif";mso-ascii-theme-font:
major-latin;mso-fareast-font-family:"Arial Unicode MS";mso-hansi-theme-font:
major-latin;mso-ansi-language:RU'>2.13. Пользователь </span><span
style='font-family:"Cambria","serif";mso-ascii-theme-font:major-latin;
mso-hansi-theme-font:major-latin;mso-ansi-language:RU'>соглашается с тем, что
именно он несёт всю полноту ответственности в случае нарушения им Российского и
международного законодательства.</span><span style='font-family:"Cambria","serif";
mso-ascii-theme-font:major-latin;mso-fareast-font-family:"Arial Unicode MS";
mso-hansi-theme-font:major-latin;mso-ansi-language:RU'><o:p></o:p></span></p>

<p class=MsoNormal><span style='mso-ansi-language:RU'><o:p>&nbsp;</o:p></span></p>

</div>
		<input id="not-agree" type="submit" value="{% trans %}отмена{% endtrans %}"/>	
		<input id="agree" type="submit" value="{% trans %}Я принимаю условия пользовательского соглашения{% endtrans %}"/>
	</div>
	{% endblock %}