<!DOCTYPE html>
<html>
  <head>
    {#<title>{{ title }}</title>#}
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<!--<script src="js/showmessages.js"></script>!-->
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".open-dialog-list").bind('click', function(){
                $.ajax({
                    url: '{{ path('getDialogList') }}',
                    success: function(response){
                        if (!$.trim(response))
                            response = '<div class="dialogs-empty-text">Диалогов нет.</div>';
                        $(".dialogsWrapper .dialogs-container").html(response);
                    }
                });
                $(".dialogsWrapper .dialogs-container").html('<div class="dialogs-empty-text">Загрузка...</div>');
                $(".dialogsWrapper").toggle();
            });
            $(".closeDialogWindow a").bind('click', function(){
                $(".dialogsWrapper").hide();
                return false;
            });
            $(".closeDialogs a").live('click', function(){
                if (confirm('Удалить диалог?')) {
                    var singleDialog = $(this).closest('.singleDialog');
                    $.ajax({
                        url:'{{ path('deleteDialog') }}',
                        method: 'POST',
                        data: { dialog:singleDialog.data('dialog') }
                    });
                    removeSingleDialog(singleDialog);
                }
                return false;
            });
            $(".spamDialogs a").live('click', function(){
                if (confirm('Пометить как спам?')) {
                    var singleDialog = $(this).closest('.singleDialog');
                    $.ajax({
                        url:'{{ path('checkDialogAsSpam') }}',
                        method: 'POST',
                        data: { dialog:singleDialog.data('dialog') }
                    });
                    removeSingleDialog(singleDialog);
                }
                return false;
            });
            function removeSingleDialog (obj) {
                obj.remove();
                if (!$(".singleDialog").size()){
                    $(".dialogsWrapper .dialogs-container").html('<div class="dialogs-empty-text">Диалогов нет.</div>');
                }
            }

            $(".chatInvite").bind('click', function(){
                $.ajax({
                    url: '{{ path('getInviteList') }}',
                    success: function(response){
                        if (!$.trim(response))
                            response = '<div class="invites-empty-text">Приглашений нет.</div>';
                        $(".chatInviteWindow .invites-container").html(response);
                    }
                });
                $(".invites-container").html('<div class="invites-empty-text">Загрузка...</div>');
                $(".chatInviteWindow").toggle();
            });
            $(".closeInviteWindow a").bind('click', function(){
                $(".chatInviteWindow").hide();
                return false;
            });
            $(".decline-invite").live('click', function(){
                var singleInvite = $(this).closest('.singleInvite');
                $.ajax({
                    url:'{{ path('declineChatInvite') }}',
                    method: 'POST',
                    data: { invite:singleInvite.data('invite') }
                });
                removeSingleInvite(singleInvite);
                return false;
            });
            $(".accept-invite").live('click', function(){
                var singleInvite = $(this).closest('.singleInvite');
                $.ajax({
                    url:'{{ path('acceptChatInvite') }}',
                    method: 'POST',
                    data: { invite:singleInvite.data('invite') }
                });
                removeSingleInvite(singleInvite);
                return false;
            });
            function removeSingleInvite (obj) {
                obj.remove();
                if (!$(".singleInvite").size()){
                    $(".chatInviteWindow .invites-container").html('<div class="invites-empty-text">Приглашений нет.</div>');
                }
            }
        });
    </script>
  </head>
  <body>
	{% block wrapper %}
	<div id="wrapper">
	    {% block header %}
		<div id="header">
			<div class="logo"><a href=""></a></div>
			<div class="language">
				<div class="russian"><a href="{{ path('locale', { 'locale': 'ru_RU' }) }}"></a></div>
				<div class="english"><a href="{{ path('locale', { 'locale': 'en_US' }) }}"></a></div>
				<div class="portuguese"><a href="{{ path('locale', { 'locale': 'pt_PT' }) }}"></a></div>
			</div>
			<div class="users">
			<p><span>12 345 678 </span><span class="onSite">На сайте</span></p>
			<p><span>345 678 </span><span class="online">В сети</span></p>
			</div>
		</div>
	    {% endblock %}
		
	    {% block navigation %}		
		<div id="nav">
			<div class="orderQuestions"><a href="{{ path('index') }}">{% trans %}Главная{% endtrans %}</a></div>
			<div class="categoryQuestions"><a href="{{ path('category') }}">по категориям</a></div>
			<div class="expressQuestions"><a href="{{ path('rush') }}">срочные</a></div>
		</div>
	    {% endblock %}
		
	    {% block userPrifile %}
		<div class="usersProfile">
		    {% if curUser %}
			<p class="name">{{ curUser.nick }}</p>
			<form action="{{ path('logout') }}" class="profileNavigation" name="profileNavigation" action="" method="post">
				<input type="submit"  value="Выйти" />
			</form>
			<form class="profileNavigation">
				<input type="submit" value="Настройки" />
			</form>
			<p class="credits">Кредиты 123</p>
			<p class="myQuestions"><a href="">Мои вопросы</a></p>
			<p class="myQuestions"><a href="">Входящие вопросы</a></p>
			{% else %}
			<form action="{{ path('login_check') }}" method="post">
				<input type="text" id="username" name="_username" value="" placeholder="логин" />

				<input type="password" id="password" name="_password" placeholder="пароль" />

				<input class="enterButton" type="submit" name="login" value="Войти" />
			</form>
			<form action="{{ path('register') }}" style="height: 0px;" type="text">
				<input class="registerButtonOnIndex" type="submit" name="" value="Регистрация" />
			</form>
			<a class="forgotPassword" href="#">Забыли пароль?</a>
            {% endif %}
		</div>
		
		<div style="clear: both"></div>
	    {% endblock %}
		
		<div id="main">
		{% block content %}
		{% endblock %}
            <div class="dialogsWrapper" style="display:none;">
                <div class="closeDialogWindow"><a href=""></a></div>
                <h2 class="dialogTitle">Диалоги</h2>
                <div class="dialogs-container"></div>
            </div>

            <div class="chatInviteWindow" style="display:none;">
                <div class="closeInviteWindow"><a href=""></a></div>
                <h2 class="chatInviteTitle">Приглашения в чат</h2>
                <div class="invites-container"></div>
            </div>
		</div>
		
	    {% block menu %}		
		<div id="menu">
			<ul class="menuNavigation">
				<li>Вопросы
					<ul class="subMenuNavigation">
					  <li><a href="#">Семья, дом, дети</a></li>
					  <li><a href="#">Любовь, отношения</a></li>
					  <li><a href="#">Культура, досуг</a></li>
					  <li><a href="#">Туризм</a></li>
					  <li><a href="#">Компьютеры, интернет</a></li>
					  <li><a href="#">Компьютерные игры</a></li>
					  <li><a href="#">Техника</a></li>
					  <li><a href="#">Знакомства, общение</a></li>
					  <li><a href="#">Экономика</a></li>
					  <li><a href="#">Юриспруденция</a></li>
					  <li><a href="#">Опросы</a></li>
					  <li><a href="#">Новости</a></li>
					  <li><a href="#">Спорт</a></li>
					</ul>
				</li>
				<li>Заметки</li>
				<li>Информация</li>
				<li><a class="menuNavigationLink" href="/disk">Кибердиск</a></li>
				<li class="open-dialog-list">Сообщения</li>
				<li class="chatInvite">Приглашение в чат</li>
			</ul>			
		</div>
		<div style="clear: both"></div>
	    {% endblock %}
		{% block chat %}
		  <script type="text/javascript">
			$(document).ready(function () {
				//Открытие чата
				var openChat = $('.openChat');
				openChat.hide();
				$('.chatUpButton').click(function() {
					openChat.fadeIn();
				});
				$('.closeChat').click(function() {
					openChat.fadeOut();			
				});
			});
		  </script>
		<div class="openChat">
			<div class="closeChat"></div>
		</div>
		<div class="chatWindow">
		<span>Окно чата</span>
		<div class="chatUpButton"></div>
		</div>
		{% endblock %}
	</div>
	{% endblock %}
  </body>
</html>