<!DOCTYPE html>
<html>
  <head>
    {#<title>{{ title }}</title>#}
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/tinyeditor.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="/js/jquery.autosize-min.js"></script>
      <script src="/js/tiny.editor.packed.js"></script>
      <script src="/js/soundmanager2.js"></script>
      <script src="/js/script.js"></script>
      <script src="/js/chat.js"></script>
  </head>
  <body class="{{ app.getSession().get('_sound_settings') }}{% if app.user %}auth{% endif %} {% if app.request.requestUri=='/' %}index-page{% endif %}">

  <div id="questions_last_update">{{ "now"|date('Y-m-d H:i:s') }}</div>

  {% set _locale = app.getSession().get('_locale') %}
	{% block wrapper %}
	<div id="wrapper">
	    {% block header %}
		<div id="header">
			<div class="logo" title="{% trans %}На главную{% endtrans %}"><a href="{{ path('index') }}"></a></div>
            <div id="header-srvmsg">{{ app.getSession().get('_srvmsg')|raw }}</div>
			<div class="language">
				<div class="russian{% if _locale=='ru_RU' or _locale==null %} active{% endif %}" title="{% trans %}русский{% endtrans %}"><a href="{{ path('locale', { 'locale': 'ru_RU' }) }}"></a></div>
				<div class="english{% if _locale=='en_US' %} active{% endif %}" title="{% trans %}английский{% endtrans %}"><a href="{{ path('locale', { 'locale': 'en_US' }) }}"></a></div>
				<div class="portuguese{% if _locale=='pt_PT' %} active{% endif %}" title="{% trans %}португальский{% endtrans %}"><a href="{{ path('locale', { 'locale': 'pt_PT' }) }}"></a></div>
			</div>
			<div class="users">
				<p><span>{{ totalUserCount }}</span><span class="onSite">{% trans %}На сайте{% endtrans %}</span></p>
				<p><span>{{ onlineUserCount }}</span><span class="online">{% trans %}В сети{% endtrans %}</span></p>
			</div>
		</div>
	    {% endblock %}
		
	    {% block navigation %}
		<div id="nav">
			<div class="orderQuestions"><a href="{{ path('index') }}">{% trans %}Главная{% endtrans %}</a></div>
			<div class="categoryQuestions"><a href="{{ path('category') }}">{% trans %}по категориям{% endtrans %} <span id="new_categorized_questions"></span></a></div>
			<div class="expressQuestions"><a href="{{ path('rush') }}">{% trans %}срочные{% endtrans %} <span id="new_rush_questions"></span></a></div>
		</div>
	    {% endblock %}
		
	    {% block userPrifile %}
		<div class="usersProfile">
		    {% if curUser %}
			<p class="name">{{ curUser.nick }}</p>
			<form action="{{ path('logout') }}" class="profileNavigation" name="profileNavigation" action="" method="post">
				<input type="submit"  value="{% trans %}Выйти{% endtrans %}" />
			</form>
			<form class="profileNavigation">
				{#<input type="submit" value="{% trans %}Настройки{% endtrans %}" />#}
				<a href="/settings">{% trans %}Настройки{% endtrans %}</a>
			</form>
			<p class="credits"><a href="/credits">{% trans %}Кредиты{% endtrans %} <span id="current-credits">{{ curUser.getCredits() }}</span></a></p>
			<p class="myQuestions"><a href="/my">{% trans %}Мои вопросы{% endtrans %}</a></p>
			<p class="myQuestions"><a href="/income">{% trans %}Входящие вопросы{% endtrans %}</a></p>
			{% else %}
			<form action="{{ path('login_check') }}" method="post">
				<input type="text" id="username" name="_username" value="" placeholder="{% trans %}логин{% endtrans %}" />

				<input type="password" id="password" name="_password" placeholder="{% trans %}пароль{% endtrans %}" />

				<input class="enterButton" type="submit" name="login" value="{% trans %}Войти{% endtrans %}" />
			</form>
			<form action="{{ path('register') }}" style="height: 0px;" type="text">
				<input class="registerButtonOnIndex" type="submit" name="" value="{% trans %}Регистрация{% endtrans %}" />
			</form>
			<a class="forgotPassword" href="{{ path('forgot_password') }}">{% trans %}Забыли пароль?{% endtrans %}</a>
            {% endif %}
		</div>
		
		<div style="clear: both"></div>
	    {% endblock %}
		
		<div id="main">
		{% block content %}
		{% endblock %}
            <div class="dialogsWrapper" style="display:none;">
                <div class="closeDialogWindow"><a href=""></a></div>
                <h2 class="dialogTitle">{% trans %}Диалоги{% endtrans %}</h2>
                <div class="dialogs-container">{{ app.getSession().get('_dialog_list')|raw }}</div>
            </div>

            <div class="chatInviteWindow" style="display:none;">
                <div class="closeInviteWindow"><a href=""></a></div>
                <h2 class="chatInviteTitle">{% trans %}Приглашения в чат{% endtrans %}</h2>
                <div class="invites-container">{{ app.getSession().get('_invite_list')|raw }}</div>
            </div>
			<script>
			$(document).ready(function() {
				$( ".userLinkAddWindow" ).draggable();
				$(".feedbackWindow").draggable();
								
				$('#feedback-type').change(function () {
					var check = $('#feedback-type').val();
					if (check == 'appeal') {
						$('#feedback-text').attr('disabled', false);
					}
					else if (check == 'idea') {
						$('#feedback-text').attr('disabled', false);
					}
					else {
						$('#feedback-text').attr('disabled', true);					
					}
				});				
			});
			</script>
            <div class="userLinkAddWindow" style="display:none;">
                <div class="closeUserLinkWindow"><a href=""></a></div>
                <form action="/ajax/newUserLink" method="post">
                    <label for="user-link-title">Название:</label> <input type="text" maxlength="15" id="user-link-title" name="title" /><span>{% trans %}Масимум 15 символов{% endtrans %}</span><br/>
					<div style="clear: both;"></div>
                    <label for="user-link-url">{% trans %}Ссылка{% endtrans %}:</label> <input type="text" id="user-link-url" name="url" />
                    <input type="button" class="cancelUserLink" value="{% trans %}отменить{% endtrans %}" /> <input type="submit" class="saveUserLink" value="{% trans %}сохранить{% endtrans %}" />
                </form>
            </div>

            <div class="feedbackWindow" style="display:none;">
                <div class="closeFeedbackWindow"><a href=""></a></div>
				<h3>{% trans %}Выберите категорию:{% endtrans %}</h3>
                <form action="/ajax/sendFeedback" method="post">
                    <select name="type" id="feedback-type">
						<option selected="selected"></option>
                        <option value="appeal">{% trans %}Жалоба{% endtrans %}</option>
                        <option value="idea">{% trans %}Предложение{% endtrans %}</option>
                    </select><br>
                    <label for="feedback-email">{% trans %}Введите Ваш email{% endtrans %}</label><br/><input id="feedback-email" name="email" value="{% if curUser %}{{ curUser.getUsername() }}{% endif %}"><br/>
                    <label for="feedback-text">{% trans %}Введите текст сообщения{% endtrans %}:</label><br/><textarea disabled="disabled" name="text" id="feedback-text" cols="30" rows="5"></textarea><br/>
                    <input type="button" class="cancel-feedback" value="{% trans %}отмена{% endtrans %}"> <input type="submit" class="submit-feedback" value="{% trans %}отправить{% endtrans %}">
                </form>
            </div>
		</div>
		
	    {% block menu %}		
		<div id="menu">
			<ul class="menuNavigation">
				<li>{% trans %}Вопросы{% endtrans %}
					<ul class="subMenuNavigation">
                        {{ app.getSession().get('_category_list_view')|raw }}
					</ul>
				</li>
                <li>{% trans %}Заметки{% endtrans %}
                    <ul class="subMenuNavigation">
                    {% if curUser %}
                        <li><a href="/notes/questions">{% trans %}вопросы{% endtrans %}</a></li>
                        <li><a href="/notes/articles">{% trans %}статьи{% endtrans %}</a></li>
                        <li><a href="#" class="open-notepad">{% trans %}блокнот{% endtrans %}</a></li>
                    {% endif %}
                    </ul>
                </li>
				<li>{% trans %}Информация{% endtrans %}
                    <ul class="subMenuNavigation">
                        <li><a href="/articles">{% trans %}статьи{% endtrans %}</a></li>
                        {{ app.getSession().get('_user_links')|raw }}
						{% if curUser %}
                        <li style="	background-color: #fdf5ef; border-radius: 0px;"><a href="#" class="add-bookmark">{% trans %}добавить ссылку{% endtrans %}</a></li>
						{% endif %}
                    </ul>
                </li>
                <li><a class="menuNavigationLink" href="/disk">{% trans %}Кибердиск{% endtrans %}</a></li>
                <li class="open-dialog-list">{% trans %}Сообщения{% endtrans %}</li>
                {% if curUser %}
                    {% if curUser.getRole()>0 %}
                        <li>Админка
                        <ul class="subMenuNavigation">
                            {% if curUser.getRole()==2 %}
                                <li><a href="/admin/questions">вопросы</a></li>
                                <li><a href="/admin/answers">ответы</a></li>
                                <li><a href="/admin/articles">статьи</a></li>
                                <li><a href="/admin/srvmsg">серв. сообщ</a></li>
                                <li><a href="/admin/users">пользователи</a></li>
                                <li><a href="/admin/credits">кредиты</a></li>
                            {% else %}
                                <li><a href="/admin/questions/spam">вопросы</a></li>
                                <li><a href="/admin/answers/spam">ответы</a></li>
                            {% endif %}
                        </ul>
                        </li>
                        {% if curUser.getRole()==2 %}
                        <li>Поддержка
                            <ul class="subMenuNavigation">
                                <li><a href="/admin/support/appeals">Жалобы</a></li>
                                <li><a href="/admin/support/ideas">Предложения</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endif %}
				<li class="chatInvite">{% trans %}Приглашение в чат{% endtrans %}</li>
                <div id="notepad" style="margin-top: 10px;display:none; width: 272px;">
                    <textarea id="notepad-text" style="height: 200px;width: 189px;resize: none;border: 1px solid #CC2A03;border-radius: 5px;margin-left: -9px;float: left;margin-top: 10px;">{{ app.getSession().get('_notepad') }}</textarea>
                    <div class="closeNotepad"><a title="закрыть блокнот" href=""></a></div>
                </div>
				<div style="clear: both;">
			</ul>
			<ul class="additional-information">
				<li><a href="/about">{% trans %}О нас{% endtrans %}</a></li>
				<li><a href="#" class="open-feedback-window">{% trans %}Помощь{% endtrans %}</a></li>
				<li><a href="/rules">{% trans %}Правила{% endtrans %}</a></li>
				<li><a href="/advert">{% trans %}Рекламодателям{% endtrans %}</a></li>
				<li><a href="/agreement">{% trans %}Пользовательское соглашение{% endtrans %}</a></li>
			</ul>
			<span class="copyright">Aditus © 2012</span>
		</div>
		<div style="clear: both"></div>
	    {% endblock %}
		{% block chat %}
		<div class="chatWrapper">
			<div class="openChat">
				<div class="closeChat"></div>
				<div class="chat-container"></div>
			</div>
		</div>
		<div class="chatWindow">
		<span>{% trans %}Окно чата{% endtrans %}</span>
		<div class="chatUpButton"></div>
		</div>
		{% endblock %}
	</div>
	{% endblock %}
  <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter20628040 = new Ya.Metrika({id:20628040, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/20628040" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
  </body>
</html>