<!DOCTYPE html>
<html>
  <head>
    <title>Aditus</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
	<link href="css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<script src="js/jquery.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<!--<script src="js/showmessages.js"></script>!-->
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  </head>
  <body>
	<div id="wrapper">
	
	    {% block header %}
		<div id="header">
			<div class="logo"><a href=""></a></div>
			<!--<div class="messagesFromAdministration">
				Место для сообщений от администрации/сервисных сообщений
			</div>!-->
			<div class="language">
				<div class="russian"><a href=""></a></div>
				<div class="english"><a href=""></a></div>
				<div class="portuguese"><a href=""></a></div>
			</div>
			<div class="users">
			<p>Пользователей на сайте: <span>1234567</span></p>
			<p>В сети: <span>1234567</span></p>
			</div>
		</div>
	    {% endblock %}
		
	    {% block navigation %}		
		<div id="nav">
			<div class="orderQuestions"><a href="{{ path('index') }}">Главная</a></div>
			<div class="categoryQuestions"><a href="{{ path('category') }}">по категориям</a></div>
			<div class="expressQuestions"><a href="{{ path('rush') }}">срочные</a></div>
		</div>
	    {% endblock %}
		
	    {% block userPrifile %}
		<div class="usersProfile">
		    {% if curUser %}
			<p class="name">{{ curUser.nick }}</p>
			<form action="{{ path('logout') }}" class="profileNavigation" name="profileNavigation" action="" method="post">
				<input type="submit"  value="Выход" />
			</form>
			<form class="profileNavigation">
				<input type="submit" value="Настройки" />
			</form>
			<p class="credits">Кредиты 123</p>
			<p class="myQuestions"><a href="">Мои вопросы</a></p>
			<p class="myQuestions"><a href="">Входящие вопросы</a></p>
			{% else %}
			<!--<form action="{{ path('login') }}">
				<input type="submit" value="Логин" />
			</form>!-->
			<form action="{{ path('login_check') }}" method="post">
				<input type="text" id="username" name="_username" value="" placeholder="логин" />

				<input type="password" id="password" name="_password" placeholder="пароль" />

				<input class="enterButton" type="submit" name="login" value="Вход" />
			</form>
			<form action="{{ path('register') }}" style="height: 0px;" type="text">
				<input class="registerButtonOnIndex" type="submit" name="" value="Регистрация" />
			</form>
			<a class="forgotPassword" href="#">Забыли пароль?</a>
            {% endif %}
		</div>
		
		<div style="clear: both"></div>
	    {% endblock %}
		
		<div id="main">
		{% block content %}
		{% endblock %}			
		</div>
		
	    {% block menu %}		
		<div id="menu">
			<ul class="menuNavigation">
				<li>Вопросы
					<ul class="subMenuNavigation">
					  <li><a href="#">Семья, дом, дети</a></li>
					  <li><a href="#">Любовь, отношения</a></li>
					  <li><a href="#">Культура, досуг</a></li>
					  <li><a href="#">Туризм</a></li>
					  <li><a href="#">Компьютеры, интернет</a></li>
					  <li><a href="#">Компьютерные игры</a></li>
					  <li><a href="#">Техника</a></li>
					  <li><a href="#">Знакомства, общение</a></li>
					  <li><a href="#">Экономика</a></li>
					  <li><a href="#">Юриспруденция</a></li>
					  <li><a href="#">Опросы</a></li>
					  <li><a href="#">Новости</a></li>
					  <li><a href="#">Спорт</a></li>
					</ul>
				</li>
				<li>Заметки</li>
				<li>Информация</li>
				<li><a class="menuNavigationLink" href="/disk">Кибердиск</a></li>
				<li>Сообщения</li>
				<li class="chatInvite">Приглашение в чат</li>
			</ul>			
		</div>
		<div style="clear: both"></div>
	    {% endblock %}
		<div class="chatWindow">Окно чата</div>		
  </body>
</html>