<!DOCTYPE html>
<html>
  <head>
    {#<title>{{ title }}</title>#}
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/reset.css" rel="stylesheet">
	<link href="/css/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<link rel="stylesheet" href="/css/tinyeditor.css">
	<script src="/js/jquery.js"></script>
	<script src="/js/jquery.validate.min.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script src="/js/tiny.editor.packed.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<script src="/js/jquery.autosize-min.js"></script>
    <script src="/js/chat.js"></script>
    <script src="/js/script.js"></script>
  </head>
  <body>
	{% block wrapper %}
	<div id="wrapper">
	    {% block header %}
		<div id="header">
			<div class="logo" title="На главную"><a href="{{ path('index') }}"></a></div>
			<div class="language">
				<div class="russian" title="русский"><a href="{{ path('locale', { 'locale': 'ru_RU' }) }}"></a></div>
				<div class="english" title="английский"><a href="{{ path('locale', { 'locale': 'en_US' }) }}"></a></div>
				<div class="portuguese" title="португальский"><a href="{{ path('locale', { 'locale': 'pt_PT' }) }}"></a></div>
			</div>
			<div class="users">
			<p><span>12 345 678 </span><span class="onSite">На сайте</span></p>
			<p><span>345 678 </span><span class="online">В сети</span></p>
			</div>
		</div>
	    {% endblock %}
		
	    {% block navigation %}		
		<div id="nav">
			<div class="orderQuestions"><a href="{{ path('index') }}">{% trans %}Главная{% endtrans %}</a></div>
			<div class="categoryQuestions"><a href="{{ path('category') }}">{% trans %}по категориям{% endtrans %}</a></div>
			<div class="expressQuestions"><a href="{{ path('rush') }}">{% trans %}срочные{% endtrans %}</a></div>
		</div>
	    {% endblock %}
		
	    {% block userPrifile %}
		<div class="usersProfile">
		    {% if curUser %}
			<p class="name">{{ curUser.nick }}</p>
			<form action="{{ path('logout') }}" class="profileNavigation" name="profileNavigation" action="" method="post">
				<input type="submit"  value="Выйти" />
			</form>
			<form class="profileNavigation">
				{#<input type="submit" value="Настройки" />#}
				<a href="/settings">Настройки</a>
			</form>
			<p class="credits">Кредиты 123</p>
			<p class="myQuestions"><a href="">Мои вопросы</a></p>
			<p class="myQuestions"><a href="">Входящие вопросы</a></p>
			{% else %}
			<form action="{{ path('login_check') }}" method="post">
				<input type="text" id="username" name="_username" value="" placeholder="логин" />

				<input type="password" id="password" name="_password" placeholder="пароль" />

				<input class="enterButton" type="submit" name="login" value="Войти" />
			</form>
			<form action="{{ path('register') }}" style="height: 0px;" type="text">
				<input class="registerButtonOnIndex" type="submit" name="" value="Регистрация" />
			</form>
			<a class="forgotPassword" href="#">Забыли пароль?</a>
            {% endif %}
		</div>
		
		<div style="clear: both"></div>
	    {% endblock %}
		
		<div id="main">
		{% block content %}
		{% endblock %}
            <div class="dialogsWrapper" style="display:none;">
                <div class="closeDialogWindow"><a href=""></a></div>
                <h2 class="dialogTitle">Диалоги</h2>
                <div class="dialogs-container"></div>
            </div>

            <div class="chatInviteWindow" style="display:none;">
                <div class="closeInviteWindow"><a href=""></a></div>
                <h2 class="chatInviteTitle">Приглашения в чат</h2>
                <div class="invites-container"></div>
            </div>

            <div class="userLinkAddWindow" style="display:none;">
                <div class="closeUserLinkWindow"><a href=""></a></div>
                <form action="/ajax/newUserLink" method="post">
                    <label for="user-link-title">Заголовок:</label> <input type="text" id="user-link-title" name="title"><br/>
                    <label for="user-link-url">Ссылка:</label> <input type="text" id="user-link-url" name="url"><br/>
                    <input type="submit" class="saveUserLink" value="сохранить"> <input type="button" class="cancelUserLink" value="отменить">
                </form>
            </div>
		</div>
		
	    {% block menu %}		
		<div id="menu">
			<ul class="menuNavigation">
				<li>Вопросы
					<ul class="subMenuNavigation">
					  <li><a href="#">семья, дом, дети</a></li>
					  <li><a href="#">любовь, отношения</a></li>
					  <li><a href="#">культура, досуг</a></li>
					  <li><a href="#">туризм</a></li>
					  <li><a href="#">компьютеры, интернет</a></li>
					  <li><a href="#">компьютерные игры</a></li>
					  <li><a href="#">техника</a></li>
					  <li><a href="#">знакомства, общение</a></li>
					  <li><a href="#">экономика</a></li>
					  <li><a href="#">юриспруденция</a></li>
					  <li><a href="#">опросы</a></li>
					  <li><a href="#">новости</a></li>
					  <li><a href="#">спорт</a></li>
					</ul>
				</li>
				<li>Заметки
                    <ul class="subMenuNavigation">
                        <li><a href="/notes/questions">Вопросы</a></li>
                        <li><a href="/notes/articles">Статьи</a></li>
                        <li><a href="#" class="open-notepad">Блокнот</a></li>
                    </ul>
                </li>
				<li>Информация
                    <ul class="subMenuNavigation">
                        <li><a href="/articles">Статьи</a></li>
                        {% for link in curUser.getUserLinks() %}
                            <li><a href="{{ link.getUrl() }}">{{ link.getTitle() }}</a></li>
                        {% endfor %}
                        <li><a href="#" class="add-bookmark">Добавить ссылку</a></li>
                    </ul>
                </li>
				<li><a class="menuNavigationLink" href="/disk">Кибердиск</a></li>
				<li class="open-dialog-list">Сообщения</li>
				<li class="chatInvite">Приглашение в чат</li>
                <div id="notepad" style="margin-top: 10px;display:none;">
                    <div class="closeNotepad"><a href=""></a></div>
                    <textarea id="notepad-text" style="height: 200px;resize: none;border: 2px solid #CC2A03;"></textarea>
                </div>
			</ul>			
		</div>
		<div style="clear: both"></div>
	    {% endblock %}
		{% block chat %}
		<div class="chatWrapper">
			<div class="openChat">
				<div class="closeChat"></div>
				<div class="chat-container"></div>
			</div>
		</div>
		<div class="chatWindow">
		<span>Окно чата</span>
		<div class="chatUpButton"></div>
		</div>
		{% endblock %}
	</div>
	{% endblock %}
  </body>
</html>