{% extends '::base.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".delete-answer").bind('click', function(){
                if (confirm("Удалить ответ?")){
                    var cur_answer = $(this).closest(".singleQuestion");
                    /*$.ajax({
                        url: '/admin/deleteQuestion',
                        data: {
                            question: cur_question.data('id')
                        }
                    });*/
                    cur_answer.remove();
                }
                return false;
            });
        });
    </script>
    <h2 class="categoryTitle">Ответы</h2>
    {% if tab=='all' %}
        Все
        <a href="/admin/answers/spam">Отмеченные как спам</a>
    {% else %}
        <a href="/admin/answers/all">Все</a>
        Отмеченные как спам
    {% endif %}
    <div style="clear:both;"></div>
    {% if answers %}
        <div id="showQuestion">
            {% for item in answers %}
                <div class="singleQuestion" data-id="{{ item.getId() }}">
                    <div class="userName">{{ item.getUser() }}</div>
                    <div class="questionDate">{{ item.pubDate|date('d.m.Y H:i') }}</div>
                    <div style="clear: both;"></div>
                    <div class="questionText">
                        {{ item.text }}
                        <div class="socialIcons">
                            {% if tab=='spam' %}
                                <div class="spam-index">Спам: {{ item.getSpams()|length }}</div>
                                <a href="#" class="">Подтвердить</a>
                                <a href="#" class="">Отменить</a>
                                <a href="#" class="">Заблокировать пользователя</a>
                            {% else %}
                                <a href="#" class="delete-answer">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        Пусто
    {% endif %}
{% endblock %}