{% extends '::base.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".delete-answer").bind('click', function(){
                if (confirm("Удалить ответ?")){
                    var cur_answer = $(this).closest(".singleQuestion");
                    $.ajax({
                        url: '/admin/deleteAnswer',
                        data: {
                            answer: cur_answer.data('id')
                        }
                    });
                    cur_answer.remove();
                }
                return false;
            });
            $(".confirm-spam").bind('click', function () {
                if (confirm("Подтвердить, что это спам?")) {
                    var cur_question = $(this).closest(".singleQuestion");
                    $.ajax({
                        url:'/admin/confirmSpamAnswer',
                        data:{
                            answer:cur_question.data('id')
                        }
                    });
                    cur_question.remove();
                }
                return false;
            });
            $(".cancel-spam").bind('click', function () {
                var cur_question = $(this).closest(".singleQuestion");
                $.ajax({
                    url:'/admin/cancelSpamAnswer',
                    data:{
                        answer:cur_question.data('id')
                    }
                });
                cur_question.remove();
                return false;
            });
            //Блокировка юзера на 60 минут
            $(".block-user").bind('click', function () {
                if (confirm('Заблокировать пользователя на 60 минут?')) {
                    var cur_user = $(this).closest(".singleQuestion");
                    $.ajax({
                        url:'/admin/blockUser',
                        data:{
                            user:cur_user.data('user')
                        }
                    });
                    cur_user.find('.confirm-spam').click();
                    cur_user.remove();
                }
                return false;
            });
        });
    </script>
    <h2 class="categoryTitle">Ответы</h2>
    <div class="admin-wrap">
        <div class="admin-menu">
            {% if app.user.getRole()==2 %}
                {% if tab=='all' %}
                    Все
                    <a href="/admin/answers/spam">Отмеченные как спам</a>
                {% else %}
                    <a href="/admin/answers/all">Все</a>
                    Отмеченные как спам
                {% endif %}
            {% else %}
                Отмеченные как спам
            {% endif %}
        </div>
        <div style="clear:both;"></div>
        {% if answers %}
            <div id="showQuestion" style="width: 700px;">
                {% for item in answers %}
                    <div class="singleQuestion" data-id="{{ item.getId() }}" data-user="{{ item.getUser().getId() }}">
                        <div class="userName">{{ item.getUser() }}</div>
                        <div class="questionDate">{{ item.pubDate|date('d.m.Y H:i') }}</div>
                        <div style="clear: both;"></div>
                        <div class="questionText">
                            {{ item.text|raw }}
                            <div class="socialIcons">
                                {% if tab=='spam' %}
                                    {#<div class="spam-index">Спам: {{ item.getSpams()|length }}</div>#}
                                    <div class="spam-index">Спам-индекс: {{ item.getUser().getSpamActivity() }}</div>
                                    <div class="questions-count">Вопросов: {{ item.question_count }}</div>
                                    <a href="#" class="confirm-spam">Подтвердить</a>
                                    <a href="#" class="cancel-spam">Отмена</a>
                                    <a href="#" class="block-user">Блок пользователя</a>
                                {% else %}
                                    <a href="#" class="delete-answer">Удалить</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            Пусто
        {% endif %}
    </div>
{% endblock %}