{% extends '::base.html.twig' %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".delete-article").bind('click', function(){
                if (confirm('Удалить статью?')) {
                    var cur_article = $(this).closest(".article-li");
                    $.ajax({
                        url: '/admin/deleteArticle',
                        data: {
                            article: cur_article.data('id')
                        }
                    });
                    cur_article.remove();
                }
                return false;
            });
        });
    </script>
    <h2 class="categoryH2">Статьи</a></h2>
    <a href="/admin/newarticle">+ Добавить статью</a>
    <ul class="article-list">
        {% for article in articles %}
            <li class="article-li" data-id="{{ article.getId() }}">
                <table>
                    <tr>
                        <td style="vertical-align:middle;">
                            <a href="/articles/{{ article.getCategory().getId() }}/{{ article.getId() }}"><img src="/articles_i/{{ article.getId() }}/img1.jpg" height="105" class="article-list-img" alt="{{ article.getHeader() }}"></a>

                        </td>
                        <td style="vertical-align:middle;">
                            <a href="/articles/{{ article.getCategory().getId() }}/{{ article.getId() }}"> <span class="article-list-header">{{ article.getHeader() }}</span></a>
                        </td>
                        <td>
                            {{ article.getCategory().getName() }}
                        </td>
                        <td>
                            <a href="/admin/editarticle/{{ article.getId() }}">Редактировать</a>
                            <a href="#" class="delete-article">Удалить</a>
                        </td>
                    </tr>
                </table>
            </li>
        {% endfor %}
    </ul>
{% endblock %}