{% extends '::base.html.twig' %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".delete-question").live('click', function () {
                if (confirm("Удалить вопрос?")) {
                    var cur_question = $(this).closest(".singleQuestion");
                    $.ajax({
                        url:'/admin/deleteQuestion',
                        data:{
                            question:cur_question.data('id')
                        }
                    });
                    cur_question.remove();
                }
                return false;
            });
            $(".confirm-spam").live('click', function () {
                if (confirm("Подтвердить, что это спам?")) {
                    var cur_question = $(this).closest(".singleQuestion");
                    $.ajax({
                        url:'/admin/confirmSpamQuestion',
                        data:{
                            question:cur_question.data('id')
                        }
                    });
                    cur_question.remove();
                }
                return false;
            });
            $(".cancel-spam").live('click', function () {
                var cur_question = $(this).closest(".singleQuestion");
                $.ajax({
                    url:'/admin/cancelSpamQuestion',
                    data:{
                        question:cur_question.data('id')
                    }
                });
                cur_question.remove();
                return false;
            });
            //Блокировка юзера на 60 минут
            $(".block-user").live('click', function () {
                if (confirm('Заблокировать пользователя на 60 минут?')) {
                    var cur_user = $(this).closest(".singleQuestion");
                    $.ajax({
                        url:'/admin/blockUser',
                        data:{
                            user:cur_user.data('user')
                        }
                    });
                    cur_user.find('.confirm-spam').click();
                    cur_user.remove();
                }
                return false;
            });

            {#{% if tab=='spam' %}
                //Подгрузка новых спам вопросо
                setInterval('updateSpamQuestions();',30000);
            {% endif %}#}
        });
        /*function updateSpamQuestions(){
            $.ajax({
                url: '/ajax/getLastSpamQuestions',
                type: 'post',
                dataType: 'json',
                data: {
                    questions_last_update: $("#questions_last_update").text()
                },
                success: function(data){
                    if (data.questions){
                        $("#showQuestions").prepend(data.questions);
                    }
                    if (data.questions && $("body").is('.sound_newQuestion')){
                        soundManager.play('newQuestion');
                    }
                    $("#questions_last_update").text(data.questions_last_update);
                }
            });
        }*/
    </script>
    <h2 class="categoryTitle">Вопросы</h2>
    <div class="admin-wrap">
        <div class="admin-menu">
            {% if app.user.getRole()==2 %}
                    {% if tab=='all' %}
                    Все
                    <a href="/admin/questions/spam">Отмеченные как спам</a>
                {% else %}
                    <a href="/admin/questions/all">Все</a>
                    Отмеченные как спам
                {% endif %}
            {% else %}
                Отмеченные как спам
            {% endif %}
        </div>
        <div style="clear:both;"></div>
        <div id="showQuestion" style="width: 725px;">
            {% for item in questions %}
                <div class="singleQuestion" data-id="{{ item.getId() }}" data-user="{{ item.getUser().getId() }}">
                    <div class="userName">{{ item.getUser() }}</div>
                    <div class="questionDate">{{ item.datetime|date('d.m.Y H:i') }}</div>
                    {#<div class="closeButton"></div>#}
                    <div style="clear: both;"></div>
                    <div class="questionText">
                        {{ item.text|raw }}
                        <div class="socialIcons">
                            {% if tab=='spam' %}
                                <div class="spam-index">Спам-индекс: {{ item.getUser().getSpamActivity() }}</div>
                                <div class="questions-count">Вопросов: {{ item.question_count }}</div>
                                <a href="#" class="confirm-spam">Подтвердить</a>
                                <a href="#" class="cancel-spam">Отмена</a>
                                <a href="#" class="block-user">Блок пользователя</a>
                            {% else %}
                                <a href="#" class="delete-question">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                Пусто
            {% endfor %}
        </div>
    </div>
{% endblock %}