{% extends '::base.html.twig' %}
{% block content %}
    <script type="text/javascript">
        $(document).ready(function(){
            $(".delete-feedback").bind('click', function(){
                if (confirm('Удалить сообщение?')) {
                    var cur_feedback = $(this).closest(".feedback-li");
                    $.ajax({
                        url: '/admin/support/deleteFeedback',
                        data: {
                            feedback: cur_feedback.data('id')
                        }
                    });
                    cur_feedback.remove();
                }
                return false;
            });
        });
    </script>
    <h2 class="categoryH2">{{ title }}</a></h2>
    <ul class="feedback-list">
        {% if feedback|length>0 %}
            {% for item in feedback %}
                <li class="feedback-li" data-id="{{ item.getId() }}">
                    <table>
                        <tr>
                            <td width="80" style="overflow: hidden; color: green;">
                                {% if item.getUser() %}
                                    {{ item.getUser().getNick() }}
                                {% endif %}
                            </td>
                            <td>
                                {{ item.getEmail() }}
                            </td>
                            <td width="470">
                                {{ item.getText() }}
                            </td>
                            <td>
                                <a href="#" class="open-reply-feedback-window">Ответить</a>
                                <a href="#" class="delete-feedback">Удалить</a>
                            </td>
                        </tr>
                    </table>
                </li>
            {% endfor %}
        {% else %}
            Пусто
        {% endif %}
    </ul>
    <div class="replyFeedbackWindow" style="display:none;">
        <div class="closeReplyFeedbackWindow"><a href=""></a></div>
        <form action="/admin/support/replyFeedback" method="post">
            <input type="hidden" name="feedback" id="feedback-id" value="">
            <label for="reply-text">Введите текст ответа:</label><br/><textarea name="text" id="reply-text" cols="30" rows="5"></textarea><br/>
            <input type="button" class="cancelReplyFeedback" value="отменить"> <input type="submit" class="submitReplyFeedback" value="отправить">
        </form>
    </div>
{% endblock %}